@media screen and (max-width: 1280px){
	.nav li{
		display: inline-block;
		cursor: pointer;
		transition: 0.2s;
		font-size: 1.4rem;
		padding: 8px 10px;
	}

	.logo, .register-logIn{
		padding: 0.5rem;
	}
	
	.dashboard-header{
		margin-top: 3.5rem;
	}
}

@media screen and (max-width: 1220px){
	.nav li{
		display: inline-block;
		cursor: pointer;
		transition: 0.2s;
		font-size: 1.4em;
		padding: 3px 5px;
		
	}
}

@media screen and (max-width: 1180px){
	.menu{
		justify-content: stretch;
		flex-direction: column;
	}

	.logo{
		white-space: nowrap;
	}

	.logo > .fa-bars{
		display: inline-block;
		padding-left: 1rem;
	}

	.nav{
		list-style-type: none;
		background-color: #fff;
		max-height: 0;
		overflow: hidden;
		align-self: stretch;
	}
	
	.register-logIn{
		max-height: 0;
		overflow: hidden;
		align-self: stretch;
		padding: 0;
	}

	.nav li,.regLogin-link{
		display: block;
	}

	.nav li, .regLogin-link{
		cursor: pointer;
		transition: 0.2s;
		font-size: 1.4em;
		padding: 8px 1rem;
		border-bottom: 1px solid #000;
	}

	.nav li:hover .link, .regLogin-link:hover{
		color: #fff;
	}
	
	.nav li:hover .active{
		color: #fff;
	}
	
	.regLogin-link:last-child{
		border-bottom: 0 solid #000;
	}
	
	.nav li:hover #active{
		color: #fff;
	}

	.nav li:hover i, .regLogin-link:hover i{
		color: #fff;
	}

	.nav li:hover, .regLogin-link:hover{
		background-color: #0acdff;
	}

	.link{
		transition: 0.2s;
		display: block;
	}
}

@media screen and (max-width: 1125px){	
	.foot-content{
		margin-right: 0;
	}
}
	
@media screen and (max-width: 1100px){	
	.dashboard-cont{
		margin: 0 1rem;
	}
}

@media screen and (max-width: 1065px){
	.dashboard-cont{
		align-items: center;
	}
	
	.dash-link{
		margin: 1.8rem 1rem;
	}
	
	#dashboard-links{
		margin: 4rem 0;
	}
}

@media screen and (max-width: 980px){	
	.dash-link{
		margin: 1.8rem 1rem;
	}
}

@media screen and (max-width: 890px){
	.foot-web{
		display: none;
		flex-direction: row;
	}
	
	.footMobile-web{
		display: flex;
		justify-content: center;
	}
	
	.foot-content{
		margin-right: 2.5rem;
	}
	
	.footMobileWeb-link{
		white-space: nowrap;
	}
	
	.foot-title{
		margin-left: 0;
	}
}

@media screen and (max-width: 790px){
	
	.foot-title{
		white-space: nowrap;
	
	}
}
	
@media screen and (max-width: 668px){

	.mobileLogo{
		display: flex;
		justify-content: center;
		margin-right: 1.1rem;
	}
	
	.regMobile-title{
		font-size: 2.4rem;
		font-family: montserrat, sans-serif;
		text-shadow: 0 0 2px rgba(0,0,0,0.6);
	}
	
	.footMobile-web{
		display: flex;
		margin-right: 2.5rem;
	}
	
	.foot-info > .logo{
		display: none;
	}
	
	.foot-info{
		justify-content: space-around;
	}
	
	.foot-title{
		white-space: nowrap;
	}
}

@media screen and (max-width: 600px){
	#dashboard-links{
		height: auto;
		margin: 1.5rem 0;
	}
}

@media screen and (max-width: 592px){
	.dashboard-cont{
		justify-content: stretch;
		align-items: center;
	}
	
	.dashboard-notifications,.dashboard-message,.dashboard-ads,.dashboard-profile{
		width: 100%;
	}
	
	.dash-link{
		width: 100%;
	}
}

@media screen and (max-width: 450px){
	footer{
		width: 440px;
	}
	
	#dashboard{
		width: 440px;
	}	
}