<footer id="footer">

		<div class="shooter">
			<i class="fa fa-chevron-up shoot" id="scrollTopper"></i>
		</div>

		<div class="footer-cont">

			<div class="footer">

				<div class="footer-site-info-cont">

					<div class="footer-img-cont-cont">
						<a href="/" class="footer-img-cont">

							<img src="../../KB-Images/Kopa-Booka-logo.png" class="footer-img">

						</a>
					</div>

					<div class="site-info-list-cont">

						<div class="mobile-info-list-title-cont">

							<h5>Get to Know Us</h5>
							<i class="fa fa-chevron-down"></i>

						</div>

						<ul class="site-info-list">

							<div class="info-list-title-cont">
								<h5>Get to Know Us</h5>
							</div>

							<li>
								<a href="/About-Us">About Kopa-Booka</a>
							</li>
						
						</ul>

					</div>

					<div class="site-info-list-cont">
					
						<div class="mobile-info-list-title-cont">
						
							<h5>Our Policies</h5>
							<i class="fa fa-chevron-down"></i>
						
						</div>

						<ul class="site-info-list">
							
							<div class="info-list-title-cont">
								<h5>Our Policies</h5>
							</div>
							
							<li>
							
								<a href="/privacy-policy">Privacy Policy</a>
							
							</li>
							
							<li>
							
								<a href="/terms-of-use">Term of Use</a>
							
							</li>
							
							<li>
							
								<a href="#">Cookies Policy</a>
							
							</li>
							
							<li>
							
								<a href="#">Advertising Policy/Rules</a>
							
							</li>

						</ul>

					</div>
					
					<div class="site-info-list-cont">
					
						<div class="mobile-info-list-title-cont">

							<h5>Tips &#38; Help</h5>
							<i class="fa fa-chevron-down"></i>

						</div>

						<ul class="site-info-list">
	
							<div class="info-list-title-cont">
								<h5>Tips &#38; Help</h5>
							</div>
							
							<li>
							
								<a href="/contact-us">Contact Us</a>
							
							</li>

						</ul>	

					</div>

				</div>

				<div class="footer-copyright-info-cont">

					<ul class="socials-cont">
					
						<li>
							<a href="#">
								<i class="fa fa-facebook facebook"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-twitter twitter"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-linkedin linkedin"></i>
							</a>
						</li>

					</ul>

					<div class="coyright-info-cont">

						<h6>Copyright &copy; <a href="https://glacial-atoll-14823.herokuapp.com/" target="_blank">MJ Solutions</a> 2021, All Rights Reserved</h6>

					</div>

				</div>
			
			</div>

		</div>
		
	</footer>
	
	<script src="/JS/general.js"></script>

	<% if(req.url !== "/" && req.url !== "/About-Us") { %>

		<script src="/JS/non-transparent.js"></script>
		
	<% }else{ %>
		
		<script src="/JS/transparent.js"></script>
		
	<% } %>