
<nav class="menu" id="Topnav">
		<div class="logo">
			<i class="fa fa-bars" id="menu-DropDown"></i>
			<a href="/" class="log-name"><i class="fa fa-book" style="padding: 8px;"></i><span>Kopa Booka</span></a>
			<% if (user && req.url !== "/place-advert") { %>
				<a href="/place-advert" class="mobile-btn"><button class="post-ad-btn">Place an Ad</button></a>
			<% } else { %>
				<a href="/place-advert" class="mobile-btn" style="display: none"><button class="post-ad-btn">Place an Ad</button></a>
			<% } %>
		</div>

	<% if(req.url === "/Ad-board") { %>
			<div class="nav">
				<li><a href="/" class="link"><i class="fa fa-home" ></i><span style="white-space: nowrap;" id="num">Home</span></a></li>
				<li><a href="/Ad-board" class="link"><i class="fa fa-newspaper" id="active"></i><span style="white-space: nowrap;" class="active">Book Advertisers</span></a></li>
				<li><a href="/About-Us" class="link"><i class="fa fa-users"></i><span style="white-space: nowrap;">About Us</span></a></li>
				<li><a href="/contact-us" class="link"><i class="fa fa-phone"></i><span style="white-space: nowrap;">Contact Us</span></a></li>
			</div>
	<% }else if(req.url === "/") { %>
			<div class="nav">
				<li><a href="/" class="link"><i class="fa fa-home" id="active"></i><span style="white-space: nowrap;" class="active" id="num">Home</span></a></li>
				<li><a href="/Ad-board" class="link"><i class="fa fa-newspaper"></i><span style="white-space: nowrap;">Book Advertisers</span></a></li>
				<li><a href="/About-Us" class="link"><i class="fa fa-users"></i><span style="white-space: nowrap;">About Us</span></a></li>
				<li><a href="/contact-us" class="link"><i class="fa fa-phone"></i><span style="white-space: nowrap;">Contact Us</span></a></li>
			</div>
	<% }else if(req.url === "/About-Us/") { %>
			<div class="nav">
				<li><a href="/" class="link"><i class="fa fa-home"></i><span style="white-space: nowrap;" id="num">Home</span></a></li>
				<li><a href="/Ad-board" class="link"><i class="fa fa-newspaper"></i><span style="white-space: nowrap;">Book Advertisers</span></a></li>
				<li><a href="/About-Us" class="link"><i class="fa fa-users" id="active"></i><span style="white-space: nowrap;" class="active">About Us</span></a></li>
				<li><a href="/contact-us" class="link"><i class="fa fa-phone"></i><span style="white-space: nowrap;">Contact Us</span></a></li>
			</div>
	<% } else if(req.url === "/contact-us") { %>
			<div class="nav">
				<li><a href="/" class="link"><i class="fa fa-home"></i><span style="white-space: nowrap;" id="num">Home</span></a></li>
				<li><a href="/Ad-board" class="link"><i class="fa fa-newspaper"></i><span style="white-space: nowrap;">Book Advertisers</span></a></li>
				<li><a href="/About-Us" class="link"><i class="fa fa-users"></i><span style="white-space: nowrap;">About Us</span></a></li>
				<li><a href="/contact-us" class="link"><i class="fa fa-phone" id="active"></i><span style="white-space: nowrap;" class="active">Contact Us</span></a></li>
			</div>
	<% } else { %>
			<div class="nav">
				<li><a href="/" class="link"><i class="fa fa-home"></i><span style="white-space: nowrap;" id="num">Home</span></a></li>
				<li><a href="/Ad-board" class="link"><i class="fa fa-newspaper"></i><span style="white-space: nowrap;">Book Advertisers</span></a></li>
				<li><a href="/About-Us" class="link"><i class="fa fa-users"></i><span style="white-space: nowrap;">About Us</span></a></li>
				<li><a href="/contact-us" class="link"><i class="fa fa-phone"></i><span style="white-space: nowrap;">Contact Us</span></a></li>
			</div>
	<% } %>

	<% if (user) { %>
		<div class="register-logIn">
		<% if(req.url === "/place-advert") {%>
			<a href="/place-advert" class="mobile-btn" style="display: none"><button class="post-ad-btn">Place an Ad</button></a>
		<% } else {%>
			<a href="/place-advert" class="regLogin-link ad-btn"><button class="post-ad-btn">Place an Ad</button></a>
		<% } %>
			<div class="login-menuCont">
				  <div class="login-menu" id="login-menu">
					  <div class="user-card off-target"><h1 class="off-target"><%= user[0] %></h1></div>
					  <div class="menu-arrow off-target" id="menu-arrow"> &#8249; </div>
				  </div>

				  <ul class="dashboard-links off-target" id="dashboard-links">
					<li><a href="/Dashboard" class="dashboard-link off-target"><i class="fa fa-th fa-fw"></i>Dashboard</a></li>
					<li><a href="/Profile" class="dashboard-link off-target"><i class="fa fa-user"></i>My Profile</a></li>
					<li><a href="#" class="dashboard-link off-target"><i class="fa fa-adn"></i>My Ads</a></li>
					<li><a href="#" class="dashboard-link off-target"><i class="fa fa-comment-alt"></i>My Messages</a></li>
					<li><a href="#" class="dashboard-link off-target"><i class="fa fa-bell"></i>My Notifications</a></li>
					<li><a href="/logout" class="dashboard-link off-target"><i class="fa fa-power-off"></i>Logout</a></li>
				  </ul>
			</div>
		</div>
	<% } else { %>
		<% if(req.url === "/register") { %>
			<div class="register-logIn">
				<a href="/register" class="regLogin-link"><i class="fa fa-pencil" id="active"></i><span class="active">Register</span></a>
				<a href="/login" class="regLogin-link"><i class="fa fa-power-off"></i>Login</a>
			</div>
		<% } else if(req.url === "/login/") { %>
			<div class="register-logIn">
				<a href="/register" class="regLogin-link"><i class="fa fa-pencil"></i>Register</a>
				<a href="/login" class="regLogin-link"><i class="fa fa-power-off" id="active"></i><span class="active">Login</span></a>
			</div>
		<% } else { %>
			<div class="register-logIn">
				<a href="/register" class="regLogin-link"><i class="fa fa-pencil"></i>Register</a>
				<a href="/login" class="regLogin-link"><i class="fa fa-power-off"></i>Login</a>
			</div>
		<% } %>
	<% } %>
</nav>