@media screen and (max-width: 1250px){
	.form{
		width: 100%;
	}
	
	.nameAddress-details{
		display: flex;
		justify-content: stretch;
		flex-direction: column;
	}
	
	.number-details{
		display: flex;
		flex-direction: column;
	}
	
	.contact-details > .input{
		margin-bottom: 0;
	}
	
	.changepass-cont > .input{
		margin-bottom: 0;
	}
	
	.formPassword{
		width: 100%;
	}
	
	.change-password{
		max-height: 68%;
	}
}

@media screen and (max-width: 1125px){
	.foot-content{
		margin-right: 0;
	}
}
	
@media screen and (max-width: 1100px){

	.form{
		width: 80%;
	}
}

@media screen and (max-width: 1000px){
	.profileform-card{
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	
	.profile-contact{
		flex-direction: column;
	}
	
	.change-password{
		max-height: 100%;
	}
	
	.form{
		width: 100%;
		margin: 0;
		margin-bottom: 2rem;
	}
	
	.formPassword{
		margin: 0;
		margin: 0;
		margin-left: 0;
	}

}

@media screen and (max-width: 890px){

	.foot-web{
		display: none;
		flex-direction: row;
	}
	
	.footMobile-web{
		display: flex;
		justify-content: center;
	}
	
	.foot-content{
		margin-right: 2.5rem;
	}
	
	.footMobileWeb-link{
		white-space: nowrap;
	}
	
	.foot-title{
		margin-left: 0;
	}
}

@media screen and (max-width: 790px){
	
	.foot-title{
		white-space: nowrap;
	
	}
}
	
@media screen and (max-width: 669px){

	.validifier{
		text-align: center;
		white-space: normal;
	}
	
	.mobileLogo{
		display: flex;
		justify-content: center;
		margin-right: 1.1rem;
	}
	
	.regMobile-title{
		font-size: 2.4rem;
		font-family: montserrat, sans-serif;
		text-shadow: 0 0 2px rgba(0,0,0,0.6);
	}
	
	.footMobile-web{
		display: flex;
		margin-right: 2.5rem;
	}
	
	.foot-info > .logo{
		display: none;
	}
	
	.foot-info{
		justify-content: space-around;
	}
	
	.foot-title{
		white-space: nowrap;
	}
}

@media screen and (max-width: 600px){

}

@media screen and (max-width: 592px){

}

@media screen and (max-width: 450px){

}