@media screen and (max-width: 1250px){
	.form{
		width: 100%;
	}
	
	.nameAddress-details{
		display: flex;
		justify-content: stretch;
		flex-direction: column;
	}
	
	.number-details{
		display: flex;
		flex-direction: column;
	}
	
	.sub-cont{
		margin-top: 1.5rem;
	}
	
	.contact-details > .input{
		margin-bottom: 0;
	}
	
	.changepass-cont > .input{
		margin-bottom: 0;
	}
	
	.formPassword{
		width: 100%;
	}
	
	.change-password{
		max-height: 60%;
	}
}

@media screen and (max-width: 1125px){
	.nav li{
		display: inline-block;
		cursor: pointer;
		transition: 0.2s;
		font-size: 1.4em;
		padding: 8px 15px;
	}
	
	.foot-content{
		margin-right: 0;
	}
}
	
@media screen and (max-width: 1100px){
	
	.logo{
		padding: 0.5rem;
	}
	
	.nav li{
		display: inline-block;
		cursor: pointer;
		transition: 0.2s;
		font-size: 1.4em;
		padding: 3px 5px;
	}
	
	.form{
		width: 80%;
	}
	
	.profile-header{
		margin-top: 4rem;
	}
}

@media screen and (max-width: 1000px){
	
	
	.profileform-card{
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	
	.profile-contact{
		flex-direction: column;
	}
	
	.change-password{
		max-height: 100%;
	}
	
	.form{
		width: 100%;
		margin: 0;
		margin-bottom: 2rem;
	}
	
	.formPassword{
		margin: 0;
		margin-left: 0;
	}
	
	.sub-cont{
		margin-top: 2rem;
	}
}

@media screen and (max-width: 980px){
	.menu{
		justify-content: stretch;
		flex-direction: column;
	}

	.logo{
		white-space: nowrap;
	}

	.logo > .fa-bars{
		display: inline-block;
		padding-left: 1rem;
	}

	.nav{
		list-style-type: none;
		background-color: #fff;
		max-height: 0;
		overflow: hidden;
		align-self: stretch;
	}

	.nav li{
		display: block;
	}

	.nav li{
		cursor: pointer;
		transition: 0.2s;
		font-size: 1.4em;
		padding: 8px 1rem;
		border-bottom: 1px solid #000;
	}

	.nav li:last-child{
		border-bottom: 0;
	}

	.nav li:hover .link{
		color: #fff;
	}
	
	.nav li:hover .active{
		color: #fff;
	}
	
	.nav li:hover #active{
		color: #fff;
	}

	.nav li:hover i{
		color: #fff;
	}

	.nav li:hover{
		background-color: #0acdff;
	}

	.link{
		transition: 0.2s;
		display: block;
	}
}

@media screen and (max-width: 890px){
	
	.sub-cont{
		margin-top: 2.5rem;
	}

	.foot-web{
		display: none;
		flex-direction: row;
	}
	
	.footMobile-web{
		display: flex;
		justify-content: center;
	}
	
	.foot-content{
		margin-right: 2.5rem;
	}
	
	.footMobileWeb-link{
		white-space: nowrap;
	}
	
	.foot-title{
		margin-left: 0;
	}
}

@media screen and (max-width: 790px){
	
	.foot-title{
		white-space: nowrap;
	
	}
}
	
@media screen and (max-width: 669px){

	.validifier{
		text-align: center;
		white-space: normal;
	}
	
	.mobileLogo{
		display: flex;
		justify-content: center;
		margin-right: 1.1rem;
	}
	
	.regMobile-title{
		font-size: 2.4rem;
		font-family: montserrat, sans-serif;
		text-shadow: 0 0 2px rgba(0,0,0,0.6);
	}
	
	.footMobile-web{
		display: flex;
		margin-right: 2.5rem;
	}
	
	.foot-info > .logo{
		display: none;
	}
	
	.foot-info{
		justify-content: space-around;
	}
	
	.foot-title{
		white-space: nowrap;
	}
}

@media screen and (max-width: 600px){

}

@media screen and (max-width: 592px){

}

@media screen and (max-width: 450px){

}

