<!DOCTYPE html>
<html lang="en-US">
<head>
<%- include("partials/head-info"); -%>
<link rel="stylesheet" href="/About-Us-CSS/About Us.css">
<link rel="stylesheet" href="/About-Us-CSS/About Us-Mobile.css">
<title>About us | Kopa Booka</title>
</head>
<body>
	<%- include("partials/header"); -%> 

	<section id="about-header">

		<div class="aboutHeader-title">
			<h1 class="about-title">About Kopa Booka</h1>
		</div>

		<div class="aboutHeaderMobile-title">
			<h1 class="aboutMobile-title">About <br>Kopa Booka</h1>
		</div>
	</section>
	
	<section id="about-details">
		<div class="goal-header">
			<h1 class="goalHeader-title">Goal</h1>
		</div>
		<div class="goal-description">
			<p>
			The goal was to make life easier for students of 
			the university of Johannesburg by creating a digital platform that provides an 
			opportunity for students to advertise textbooks that they wish to sell and also 
			provides a bridge of communication between them and their interested buyers. Kopa
			Booka was developed by <a href="#" target="_blank" class="MJ">Monoametsi Junior Mosemeng</a>, a self-taught web developer
			who graduated from the University of Johannesburg.
			</p> 
		</div>
	</section>

	<%- include("partials/footer"); -%>

</body>
</html>