<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale= 1.0">
<link rel="icon" type="image/png" href="/About-Us-Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnm(">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/About-Us-CSS/About Us.css">
<link rel="stylesheet" href="/About-Us-CSS/About Us-Mobile.css">
<title>About us | Kopa Booka</title>
</head>
<body>

	<section id="about-header">
		<%- include("partials/header"); -%> 

		<div class="aboutHeader-title">
			<h1 class="about-title">About Kopa Booka</h1>
		</div>

		<div class="aboutHeaderMobile-title">
			<h1 class="aboutMobile-title">About <br>Kopa Booka</h1>
		</div>
	</section>
	
	<section id="about-details">
		<div class="goal-header">
			<h1 class="goalHeader-title">Goal</h1>
		</div>
		<div class="goal-description">
			<p>
			The goal was to make life easier for students of 
			the university of Johannesburg by creating a digital platform that provides an 
			opportunity for students to advertise textbooks that they wish to sell and also 
			provides a bridge of communication between them and their interested buyers. Kopa
			Booka was developed by <a href="#" target="_blank" class="MJ">Monoametsi Mosemeng</a>
			who is a University of Johannesburg student
			that studies BCOM General.
			</p> 
		</div>
	</section>
	
	<section id="about-socials">
	
		<div class="followUs-header">
			<h1 class="followUs-title">Follow Kopa Booka</h1>
		</div>
		
		<div class="followUsMobile-header">
			<h1 class="followUsMobile-title">Follow <br>Kopa Booka</h1>
		</div>
		
		<div class="socials">
			<a href="#"><i class="fa fa-facebook-square icons" title="Facebook"></i></a>
			<a href="#"><i class="fa fa-twitter-square icons" title="Twitter"></i></a>
			<a href="#"><i class="fa fa-instagram icons" title="Instagram"></i></a>
		</div>
	</section>

	<%- include("partials/footer"); -%>
  
	<script src="/About-Us-JS/About Us.js"></script>
</body>
</html>