<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include("partials/head-info"); -%>

<link rel="stylesheet" href="/About-Us-CSS/About Us.css">
<link rel="stylesheet" href="/About-Us-CSS/About Us-Mobile.css">
<title>About Us | Kopa Booka</title>
</head>
<body>
	<%- include("partials/header"); -%> 

	<section id="about-header">

		<div class="aboutHeader-title">
			<h1 class="about-title">About Kopa Booka</h1>
		</div>

		<div class="aboutHeaderMobile-title">
			<h1 class="aboutMobile-title">About <br>Kopa Booka</h1>
		</div>
	</section>
	
	<section id="about-details">

		<div class="about-intro-cont-cont">

			<div class="about-intro-cont">
				
				<div class="about-info-cont-cont">

					<div class="about-info-cont">

						<div class="about-info-title-cont">

							<h4>Welcome To</h4>

							<h2>
								<span class="kopa">Kopa</span> 
								<span class="booka">Booka</span>
							</h2>

						</div>

						<div class="about-info-descript-cont">

							<p> Kopa Booka was designed with the University of Johannesburg students in mind. 
							Despite a thriving 2nd hand textbook market, for many years students had no digital platform to advertise 
							their textbooks and as a result, had to resort to utilizing either 
							flyers and posters or doing a face-to-face direct form of advertisement.
							Kopa Booka presents you with a solution, the ability to advertise your textbooks in minutes, and the ability for 
							an interested buyer to instantly contact the advertiser. No more having to print out flyers or 
							spending all day sitting in front of your textbooks on campus waiting for anybody to buy, 
							just create an account, post an ad and secure a sale.</p>

						</div>

					</div>

				</div>

				<div class="about-img-cont-cont-1">

					<div class="about-img-cont-2">

						<div class="about-img-cont">

							<img src="/KB-Images/Kopa-Booka-logo-long.png" class="about-img">
						
						</div>

					</div>
				
				</div>
			
			</div>

		</div>
		
	</section>

	<%- include("partials/footer"); -%>

</body>
</html>