<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Contact-Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/Contact-CSS/Contact.css">
<link rel="stylesheet" href="/Contact-CSS/ContactMobile.css">
<title> Kopa Booka | Contact Us</title>
</head>
<body>

	<%- include("partials/header"); -%> 

	<section id="contact-head">
		<div class="contact-title">
			<h1 class ="contact-head">Contact Us</h1>
			<p class ="contact-slogan">We appreciate all feedback as it helps us improve upon the service we provide to you.</p>
			<p class ="contact-Mobileslogan">We appreciate all feedback as it helps us improve <br>upon the service we provide to you.</p>
		</div>
	</section>
 
	<section id="contact-details">
		<div class="contact-info">

			<h1 class="customerCare-header">Customer care via whatsapp</h1>
			<h2><i class="fa fa-whatsapp" style="margin-right:0.5rem;"></i>0739936217</h2>
			<p>Operating Hours: 08h00 - 17h30 (Monday to Friday)</p>
			<strong>Note:</strong> <small>No calls will be accepted via this number; only WhatsApp messages.</small>

			<hr class="line">

			<div class="email-contact">
				<h1 class="customerCare-header" style="margin-top: 3rem;">Customer care via email</h1>
				<span><i class="fa fa-envelope ikon" style="margin-right: 0.5rem;"></i><a href="#">KopaBooka@gmail.com</a></span>
			</div>

		</div>
		
		<div id="contact-card" class="center">

			<div class="contactCard-title">
				<h1>Send us a message</h1>
			</div>

			<div class="contactCard-form">
				<form action="/contact-us" method="POST">

					<div class="inputField-cont">
						<div class="label-cont">
							<label for="Username">Name<span class="required">*</span></label>
							<label for="Username" class="validifier" id="Username-Err"></label>
						</div>
						<input type="text" id="Username" class="inputField-styling" name="name" placeholder="Enter your name...">
					</div>

					<div class="inputField-cont">
						<div class="label-cont">
							<label for="Usersemail">Email<span class="required">*</span></label>
							<label for="Usersemail" class="validifier" id="mailErr"></label>
						</div>
						<input type="email" id="Usersemail" class="inputField-styling" name="email" placeholder="Enter your email...">
					</div>

					<div class="inputField-cont">
						<div class="label-cont">
							<label for="Usercontact">Contact Number</label>
							<label for="Userscontact" class="validifier" id="contactNum-Err"></label>
						</div>
						<input type="tel" id="Userscontact" class="inputField-styling" name="tel" placeholder="Enter your contacts...">
					</div>	

					<div class="inputField-cont">
						<div class="label-cont">
							<label for="subject">Message<span class="required">*</span></label>
							<label for="subject" class="validifier" id="subject-Err"></label>
						</div>
						<textarea id="subject" name="subject"></textarea>
					</div>
					<input type="submit" id="submitFormInfo" value="Send">
				</form>
			</div>
		</div>
	</section>

	<%- include("partials/footer"); -%>

	<script src="/Contact-JS/Contact.js"></script>
	<script src="/Contact-JS/formVal.js"></script>
</body>
</html>