<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/Post Ad.css">
<link rel="stylesheet" href="/CSS/Post Ad Mobile.css">
<title>Kopa Booka | Email Not Found</title>
</head>
<body>

	<%- include("partials/header"); -%>

	<section class="messageBox-cont">
		<div class="message-box" style="width: 800px;">
			<div class="messageTitle-cont">
				<i class="fa fa-times"></i>
				<h1 class="messageTitle">Email Not found</h1>
			</div>

			<div class="message-cont">
				<p class="message">We couldnt find a match for your email address, please create an account 
				if you haven't done so thus far by clicking the button below.</p>
			</div>

			<div class="messageBoxRedirect-cont">
				<a href="/register" class="messageRedirect">Go Register.</a>
			</div>
		</div>
	</section>

	<%- include("partials/footer"); -%>

  <script src="/Post-Ad-Page-JS/Post Ad.js"></script>
</body>
</html>