<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/register-success.css">
<link rel="stylesheet" href="/CSS/registerMobile-success.css">
<title>Forgot Password Confirmation | Kopa Booka</title>
</head>
<body>

	<%- include("partials/header"); -%>

	<section id="successBox-cont">
		<div class="successBox-cont">
			<div class="success-box"  style="width: 600px;">
				<div class="successTitle-cont">
					<i class="fa fa-check"></i>
					<h1 class="successTitle">Forgot Password Confirmation</h1>
				</div>
	
				<div class="successMessage-cont">
					<p class="successMessage">Please check your email to reset your password.</p>
				</div>

				<div class="successBoxRedirect-cont">
					<a href="/" class="successBoxRedirect">Go to homepage.</a>
				</div>
			</div>
		</div>
	</section>

	<%- include("partials/footer"); -%>

	<script src="/JS/register-success.js"></script>
</body>
</html>