<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/forget-password.css">
<link rel="stylesheet" href="/CSS/forget-password-mobile.css">
<title> Kopa Booka | Password help </title>
</head>
<body>

	<%- include("partials/header"); -%>

	<section id="forget-password-cont">
		<div class="forget-password-cont">
			<form action="/forget-password" method="POST" class="forget-password-card">
				<div class="card-header">
					<h1> Password Help </h1>
				</div>

				<div class="card-body">
					<div class="body-info">
						<p> Please enter your email address. A link will be sent to you via 
						email for you to reset your password. </p>
					</div>

					<div class="inputField-cont">
						<div class="label-cont">
							<label for="email" class="label"> Email <span class="required"> * </span></label>
							<span class="error-alerter" id="error-alerter">Required</span>
						</div>

						<input type="email" placeholder="Enter your email..." id="email" name="email" class="inputField-styling">
					</div>
					
					<div class="card-btn">
						<input type="submit" value="Submit" class="btn">
	
						<a href="/login" class="btn sign-in"> Back to login</a>
					</div>
				</div>
			</form>
		</div>
	</section>
	
	<%- include("partials/footer"); -%>

<script src="/JS/forget-password.js"></script>
<script src="/JS/forget-password-validation.js"></script>
</body>
</html>
