<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/my-posts.css">
<link rel="stylesheet" href="/CSS/my-posts-mobile.css">
<title>Kopa Booka | My Ads</title>
</head>
<body>

	<%- include("partials/header"); -%> 

	<section id="My-Posts">
		<div class="My-Posts-header">
			<h1 class="My-Posts-title">My Ads</h1>
		</div>
	</section>

	<section id="all-posts-cont">
		<div class="posts-searchInput-cont">
			<div class="post-section-director-cont">
				<div class="post-section-director-title-cont">
					<h4>All ADS</h4>
					<span class="post-total" style="font-weight: bold;"> 2 </span>
				</div>

				<div class="searchInput-cont">
					<input type="search" placeholder="Search your ads" name="search-post" id="search-post" class="searchInput-Field-styling">
					<button class="search-btn" id="search-btn"><i class="fa fa-search"></i> Search </button>
				</div>
			</div>
		</div>

		<div class="list-handler-cont">
			<div class="delete-all-cont">
				<ul class="delete-all-list">
					<li class="delete-all-contents"><input type="checkbox" class="checkbox"> Select All </li>
					<li class="delete-all-contents content-title-cont"><i class="fa fa-trash"></i><div class="content-title">Delete Selected</div></li>
				</ul>
			</div>

			<div class="sort-list-cont">
				<button class="sort-list-btn">
					<span class="post-num">2 Ads</span>
					<i class="fa fa-caret-up"></i>
				</button>
			</div>
		</div>
		
		<div class="all-postBox-cont">

			<div class="postBox-cont">

				<div class="postBox">

					<div class="img-checkbox-cont">
						<div class="img-cont">
							<img src="/Images/book1.jpg">
						</div>
						<div class="post-checkbox-cont">
							<input type="checkbox" class="post-checkbox">
							<span>Select Ad</span>
						</div>
					</div>

					<div class="post-info-cont">

						<div class="post-title-cont">
							<h1 class="post-title"> Accounting textbook </h1>
						</div>
						
						<div class="post-details-cont">

							<div class="post-details">
								Category
							</div>
							
							<div class="post-details">
								Date of creation
							</div>
							
							<div class="post-details">
								id
							</div>

						</div>
						
						<div class="post-stats">
							<i class="fa fa-envelope"></i>
							<div class="views-cont">
								<i class="fa fa-eye"></i>
								<span> 12 </span>
							</div>
						</div>

					</div>
					
					<div class="post-price-edit-cont">

						<div class="post-price">
							<span class="price">420</span>
						</div>
						
						<div class="post-edit-delete-cont">
							<i class="fa fa-pencil"></i>
							<i class="fa fa-trash"></i>
						</div>

					</div>

				</div>

			</div>

		<div>
	</section>
	
	<%- include("partials/footer"); -%>

<script src="/JS/my-posts.js"></script>	
<script src="/JS/search-posts.js"></script>	
</body>