<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/reset-password.css">
<link rel="stylesheet" href="/CSS/reset-password-mobile.css">
<title> Reset Your Password | Kopa Booka </title>
</head>
<body>

	<%- include("partials/header"); -%>

	<section id="forget-password-cont">
		<div class="forget-password-cont">
			<form action="/reset-password" method="POST" class="forget-password-card">
				<div class="card-header">
					<h1> Reset your password </h1>
				</div>

				<div class="card-body">
					
					<div class="body-info">
						<p> Password must atleast be between 7 to 16 characters which includes atleast 1 uppercase letter, 
						atleast 1 lowercase letter, atleast 1 special Character and atleast 1 digit.</p>
					</div>
					
					<div class="inputField-cont">
						<div class="label-cont">
							<label for="email" class="label"> Password <span class="required"> * </span></label>
							<span class="error-alerter" id="pwd-error-alerter"></span>
						</div>

						<input type="password" placeholder="Enter your new password..." id="pwd" name="pwd" class="inputField-styling">
					</div>
					
					<div class="inputField-cont">
						<div class="label-cont">
							<label for="email" class="label"> Confirm Password <span class="required"> * </span></label>
							<span class="error-alerter" id="confirm-pwd-error-alerter"></span>
						</div>

						<input type="password" placeholder="Confirm you new password..." id="confirm-pwd" name="confirm_pwd" class="inputField-styling">
					</div>

					<div class="card-btn">
						<input type="submit" value="Submit" class="btn" id="sub-btn">
					</div>
				</div>
			</form>
		</div>
	</section>

	<%- include("partials/footer"); -%>

<script src="/JS/reset-password.js"></script>
<script src="/JS/reset-password-validation.js"></script>
</body>
</html>
