<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/reg-failure.css">
<link rel="stylesheet" href="/CSS/reg-failure-mobile.css">
<title>Kopa Booka | Token Error</title>
</head>
<body>

	<%- include("partials/header"); -%>

	<section id="formBox-cont">
		<div class="formBox-cont">
			<div class="form-Box">
				<div class="formBox-message-header">
					<i class="fa fa-frown-o"></i>
					<h1> Oops something went wrong... </h1>
					<h4> The token given to you has expired or is invalid, please enter the email you registered with in order to be sent 
					a new token which will expire in 3 days, please utilise it before the expiry date.</h4>
				</div>

				<div class="formBox-form">
					<form action="/token-error" method="POST" class="form">
						<div class="inputField-cont">
							<div class="label-cont">
								<label for="email">
									Email<span class="required">*</span>
								</label>
								<span class="validifier" id="emailErr">
								</span>
							</div>
							<input type="email" placeholder="Please enter your email" id="email" name="email" class="inputField-styling">
						</div>
						<input type="submit" value="Submit" id="submit">
					</form>
				</div>
			</div>
		</div>
	</section>

	<%- include("partials/footer"); -%>

  <script src="/JS/reg-failure.js"></script>
  <script src="/JS/formVal.js"></script>
</body>
</html>