@media screen and (max-width: 1250px){	

	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 25rem;
	}

}

@media screen and (max-width: 1195px){
	
	.AdDescription-body{
		-webkit-line-clamp: 2;
	}

	.Sellers-item{
		height: 10rem;
	}

	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 25rem;
	}

	.AdDescription-body{
		margin-top: -15px;
	}
	

}

@media screen and (max-width: 1125px){
	
	.Sellers-item{
		height: 10rem;
	}
	
	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 25rem;
	}
	
	.AdDescription-body{
		margin-top: -15px;
	}


}

@media screen and (max-width: 1050px){

	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 20rem;
	}

}

@media screen and (max-width: 1100px){
	

	.AdDescription-body{
		-webkit-line-clamp: 2;
	}
	
	.Sellers-item{
		height: 10rem;
	}
	
	#img{
		width: 350px;	
	}
	
	.priceAndContact-cont{
		padding-left: 5px;
	}

}

@media screen and (max-width: 1060px){
	
	.Sellers-item{
		display: none;
	}
	
	.MobileSellers-Cont{
		display: flex;
		margin: 1rem 2rem;
	}
	
	.MobileSellers-Card{
		width: 100%;
	}
	
	.pageNumberTracker{
		display: flex;
		justify-content: center;
		margin-right: 1rem;
	}
	
	#Mobile-Img{
		transition: 0.6s;
		cursor: pointer; 
		width: 100%;
	}
	
	.AdTracker-SortByDiv{
		margin: 0 2rem;
	}
	
	.advertisements{
		width: 100%;
	}
	
	

	.AdDescription-body{
		-webkit-line-clamp: 1;
	}

}

@media screen and (max-width: 980px){
	.searcher{
		width: 75%;
	}
}

@media screen and (max-width: 890px){
	
	.searcher{
		width: 80%;
	}
	
	.Ad-title{
		padding-top: 3rem;
	}
	
	.categories-cont{
		width: auto;
		max-width: 100%;
	}
	
	.category:first-child{
		margin-top: 1rem;
	}

}

@media screen and (max-width: 820px){

	.Ad-title{
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

}

@media screen and (max-width: 790px){

	.searcher{
		width: 85%;
	}

	#Mobile-Img{
		height: 100%;
	}

	.pageNumber-link{
		padding: 6px;
		width: 2.5rem;
	}
	
	.MobileCard-Title{
		padding-right: 9px;
		padding-left: 9px;
	}

}

@media screen and (max-width: 750px){
	.Ad-title{
		font-size: 1.3rem;
	}
	
	#Search-results-cont{
		display: flex;
		flex-direction: column;
	}
	
	#Mobile-Img{
		max-height: auto;
	}
	
	.closeList{
		display: none;
	}
	
	.modal{
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	
	.modal-content{
		width: 100%;
		max-width: 100%;
	}
	
	

	.categories-cont{
		margin-top: 5rem;
		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: -2rem;
	}
	
	.RefineSearch-Cont{
		display: flex;
		width: 100%;
	}
	
	.all-categories{
		width: 100%;
		border-radius: 0 0 5px 5px;
	}
	
	.advertisements{
		margin-left: 0rem;
	}
	
	.messageBox-cont{
		margin: auto;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	
}
	
@media screen and (max-width: 568px){
	.ikon{
		width: 7.5%;
	}
}

@media screen and (max-width: 560px){
	
	.formTitle{
		padding: 3rem;
	}
	
	.ikon{
		width: 8%;
	}
}

@media screen and (max-width: 490px){
	
	.formhead{
		white-space: normal;
		line-height: 2.5rem;
		text-align: center;
	}
	
	.ikon{
		width: 10%;
	}
	
	.modal-closer{
		font-size: 2.5rem;
	}

	.formhead{
		top: 50%;
		left: 40%;
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 390px){
	.ikon{
		width: 12%;
	}
}