@media screen and (max-width: 1250px){	

	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 25rem;
	}

}

@media screen and (max-width: 1195px){
	
	.AdDescription-body{
		-webkit-line-clamp: 2;
	}

	.Sellers-item{
		height: 10rem;
	}

	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 25rem;
	}

	.AdDescription-body{
		margin-top: -15px;
	}
	

}

@media screen and (max-width: 1125px){
	
	.Sellers-item{
		height: 10rem;
	}
	
	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 25rem;
	}
	
	.AdDescription-body{
		margin-top: -15px;
	}


}

@media screen and (max-width: 1100px){
	

	.AdDescription-body{
		-webkit-line-clamp: 2;
	}
	
	.Sellers-item{
		height: 10rem;
	}

	.img{
		width: 350px;	
	}
	
	.priceAndContact-cont{
		padding-left: 5px;
	}

}

@media screen and (max-width: 1060px){
	
	.categories-cont{
		margin-right: 3rem;
	}
	
	.all-categories{
		width: 100%;
	}
	
	.Sellers-item{
		display: none;
	}
	
	.MobileSellers-Cont{
		display: flex;
	}
	
	.MobileSellers-Card{
		
	}
	
	.pageNumberTracker{
		display: flex;
		justify-content: center;
		margin-right: 1rem;
	}

	.AdTracker-SortByDiv{
		margin: 0 2rem;
	}
	
	.advertisements{
		width: 100%;
	}

	.AdDescription-body{
		-webkit-line-clamp: 1;
	}

}
/* 
@media screen and (max-width: 1050px){

	.AdDescription-title{
		font-size: 1.5rem;
		max-width: 20rem;
	}

} */

@media screen and (max-width: 980px){

	.searcher{
		width: 75%;
	}
	
	.MobileSellers-Card{
		width: 100%;
		max-width: 100%;
		margin: 1rem 2rem;
	}
	
	.MobileTextbook-Img{
		max-width: 400px;
	}

	.Mobile-Img{
		height: 350px;
	}
	
	.MobileCard-Title{
		font-size: 1.5rem;
		margin-bottom: -1rem;
	}
	
	.categories-cont{
		width: 40%;
	}
	
	/* .MobileCard-Price{
		background-color: red;
	} */

}

@media screen and (max-width: 890px){
	
	.searcher{
		width: 80%;
	}
	
	.Ad-title{
		padding-top: 3rem;
	}
	
	.MobileTextbook-Img{
		max-width: 100%;
	}

	.Mobile-Img{
		height: 450px;
	}

	/* .categories-cont{
		width: auto;
		max-width: 100%;
	} */

	/* .category:first-child{
		margin-top: 1rem;
	} */
	
	.faculty-title span{
		padding-right: 14px;
	}

}

@media screen and (max-width: 820px){

	.Ad-title{
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

}

@media screen and (max-width: 790px){

	.searcher{
		width: 85%;
	}

	/* .Mobile-Img{
		height: 100%;
	} */

	.pageNumber-link{
		padding: 6px;
		width: 2.5rem;
	}

	.MobileCard-Title{
		padding: 0 9px;
	}

}

@media screen and (max-width: 720px){
	
	.search-engine{
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.searcher{
		width: 100%;
	}

	.categories-cont{
		width: auto;
		max-width: 100%;
	}

	.Ad-title{
		font-size: 1.3rem;
	}
	
	#Search-results-cont{
		display: flex;
		flex-direction: column;
	}
	
	.MobileTextbook-Img{
		max-width: 400px;
	}

	.Mobile-Img{
		height: 400px;
	}

	.closeList{
		display: none;
	}
	
	.modal{
		padding: 1rem;
	}
	
	.modal-content{
		width: 100%;
		max-width: 100%;
	}

	.categories-cont{
		margin: 0;
		padding: 5rem 2rem;
	}
	
	.RefineSearch-Cont{
		display: flex;
		width: 100%;
		padding: 6px 0;
	}
	
	.RefineSearch-Btn{
		border-radius: 5px;
	}
	
	.all-categories{
		margin-top: 2rem;
		width: 100%;
		border-radius: 0 0 5px 5px;
		padding: 8px;
	}
	
	.advertisements{
		margin-left: 0rem;
	}
	
	.messageBox-cont{
		margin: auto;
		margin-left: 1rem;
		margin-right: 1rem;
	}

}
	
@media screen and (max-width: 568px){

	.ikon{
		width: 7.5%;
	}

}

@media screen and (max-width: 560px){
	
	.formTitle{
		padding: 3rem;
	}
	
	.ikon{
		width: 8%;
	}
}

@media screen and (max-width: 490px){
	
	.MobileCard-Title{
		font-size: 1.2rem;
	}
	
	.formhead{
		white-space: normal;
		line-height: 2.5rem;
		text-align: center;
	}
	
	.ikon{
		width: 10%;
	}
	
	.modal-closer{
		font-size: 2.5rem;
	}

	.formhead{
		top: 50%;
		left: 40%;
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 390px){
	
	.search::placeholder{
		font-size: 13px;
	}

	.ikon{
		width: 12%;
	}

	.MobileTextbook-Img{
		max-width: 100%;
	}

	.Mobile-Img{
		height: auto;
	}
	
	.fa-search{
		width: 100%;
	}
	
	.MobileContact-Btn{
		white-space: normal;
	}
	
	.MobileSellers-Card{
		margin: 1rem 1rem;
	}
	
	.AdTracker-SortByDiv{
		margin: -1rem 1rem;
	}
	
	.search-engine{
		margin-right: 1rem;
		margin-left: 1rem;
	}
	
	.categories-cont{
		padding: 5rem 1rem;
	}

}