*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	background-color: #eee7;
}

a{
	text-decoration: none;
}

section{
	margin-top: 15px;
}

/*Search-results section*/
#Search-results-cont{
	display: flex;
	margin-bottom: 4rem;
}

/*Category Lists -- start*/

.categories-cont{
	margin-top: 3.5rem;
	margin-right: 1rem;
	max-width: 100%;
}

.all-categories{
	display: flex;
	background-color: #fff;
	padding: 8px;
	border-radius: 0 0 5px 0;
	flex-direction: column;
	width: 94.5%;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.category{
	display: flex;
	position: relative;
	justify-content: space-between;
	cursor: pointer;
	transition: 0.3s;
}

.fa-caret-down{
	position: absolute;
	right: 8px;
	top: 1.5rem;
	cursor: pointer;
	font-size: 1.2rem;
	transition: 0.8s;
}

.faculty-arrow{
	top: 0;
	right: 5px;
}

.flip-up{
	transform: rotate(-180deg);
}


.fa-caret-up {
	transition: 0.3s;
}

.switch-arrow{
	transform: rotate(180deg);
}

.flip-down{
	transform: rotate(360deg);
}


.category-title{
	font-family: montserrat, sans-serif;
	font-size: 1rem;
}

.faculty, .campus-options{
	margin-top: -1rem;
	list-style: none;
	animation-name: slideOut;
	animation-duration: 0.8s;
	max-height: 0;
	overflow: hidden;
}

.faculty-list{
	padding: 3.5px;
	white-space: nowrap;
	margin-left: -1.2rem;
}

.faculty-title{
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 5px;
	transition: 0.3s;
	cursor: pointer; 
	border-radius: 3px;
}

.department-list, .campus-options{
	list-style: none;
	overflow: hidden;
	max-height: 0;
	animation-name: slideOut;
	animation-duration: 0.8s;
	transition: 1s;
	opacity: 1;
}

#CampusList{
	margin-left: 1.8rem;
}

.department-list,.campus-options{ 
	margin-left: 10px;
	padding: 0; 
}

.department-list > li, .campus-options > li{
	position: relative;
}

.department-list > li > a, .campus-options > li > a{
	display: block;
	padding: 0 75px 0 0;
	border-radius: 3px;
	line-height: 1.8rem;
	transition: 0.2s;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.department-list > li > a > span, .campus-options > li > a > span{
	position: absolute;
	right: 7px;
	top: 0;
}

.campus-options > li > a > span{
	right: 9px;
}

.department-list > li > a:hover,
.department-list > li > a:last-child:hover,
.department-list > li > a:last-child:hover,
.faculty-title:hover,
.campus-options > li > a:last-child:hover,
.campus-options > li > a:hover{
	background-color: #eee;
}

@keyframes slideOut{
  0%{transform: translate(-2rem,0); opacity: 0;}
  100%{transform: translate(0, 0); opacity: 1;}
}

.slideIn{
	animation-name: slideIn;
	animation-duration: 1.8s;
}

@keyframes slideIn{
  0%{transform: translate(0,0); opacity: 1;}
  100%{transform: translate(-2.5rem, 0); opacity: 0;}
}

/*Category Lists -- end*/

/*Advertisements*/
.advertisements{
	display: flex;
	flex-direction: column;
	margin-left: -2.8rem;
	width: 100%;
}

/*Ad Page title -- start*/
.Ad-title{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: montserrat, sans-serif;
	font-size: 1.6rem;
	text-shadow: 0 0 2px rgba(0,0,0,0.6);
	margin: 0 1rem;
	margin-top: 4rem;
}

.Ad-title h1{
	font-weight: 300;
	line-height: 2.9rem;
}
/*Ad Page title -- end*/

/*Search -- start*/

.search-engine{
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.search{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
	width: 100%;
	border-radius: 0 5px 5px 0;
	padding: 12px;
	outline: none;
	border: 1px solid #0acdff;
	transition: 0.3s;
}

.search:focus{
	box-shadow: 0 0 3px 2px #6acdff;
	clip-path: inset(-8px -8px -8px 0px);
}

.search::placeholder{
	font-size: 1.1rem;
}

.search-btn{
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	color: #fff;
	background-color: #0acdff;
	padding: 12px;
	border-radius: 5px 0 0 5px;
	transition: 0.3s;
	border: none; 
	padding: 0px;
}

.searcher{
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1.2rem;
	transition: 0.8s;
	width: 65%;
}

.fa-search, .but{
	width: 	14%;
	cursor: pointer;
	outline: none;
	transition: 0.3s;
}

button.but:hover .fa-search{
	background-color: #0eee;
}

button.but:hover + .search{
	border: 1px solid #0eee;
}

.but:hover{
	background-color: #0eee;
}

/*Search input -- end*/

/*Sort by list -- start*/
.AdTracker-SortByDiv{
	display: flex;
	justify-content: space-between;
	margin: -1rem 2rem;
}

.AdTracker-TotalNum{
	font-size: 1rem;
}

#collapser{
	font-size: 1.2rem;
	transform: rotate(180deg);
	padding-right: 3px;
}

.SortBy-List{
	position: relative;
}

.Sort-List{
	display: none;
	left: auto;
	padding: 0;
	position: absolute;
	right: 0;
	top: 1.5rem;
	background-color: #fff;
	list-style: none;
	z-index: 1000;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	animation-name: zoom-in;
	animation-duration: 0.3s;
	max-height: 8.5rem;
	overflow: hidden;
}

@keyframes zoom-in{
	0% {max-height: 0;}
  100% {max-height: 8.5rem;}
}

.zoom-out{
	animation-name: zoom-out;
	animation-duration: 0.3s;
}

@keyframes zoom-out{
	0% {max-height: 8.5rem;}
  100% {max-height: 0;}
}

.Sort-List > li{
	display: flex;
	flex-direction: column;
}

.Sort-List > li > a{
	transition: 0.3s;
	white-space: nowrap;
	padding: 12px;
	cursor: pointer;
}

.Sort-List > li > a{
	color: #000;
}

.Sort-List > li > a:hover{
	background-color: #eee;
}

.SortBy-Btn{
	font-size: 1rem;
	outline: none;
	text-align: center;
	padding: 8px 10px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	background-color: #0acdff;
	font-family: montserrat, sans-serif;
	transition: 0.3s;
}

.SortBy-Btn > span{
	transition: 0.3s;
}

.SortBy-Btn:hover{
	background-color: #0eee;
}

.SortBy-Btn:hover i{
	color: #000;
}

.SortBy-Btn:hover span{
	color: #000;
}
/*Sort by list -- end*/

/*Individual Mobile Ad Box -- start*/

.MobileSellers-Cont{
	display: none;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	margin: 1rem 2rem;
}

.MobileSellers-Card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 5px;
	max-width: 100%;
	max-height: 100%;
	transition: 0.6s;
}

.MobileSellers-Card:hover{
	box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.2), 1px 1px 4px -1px rgba(0, 0, 0, 0.2);
}

.MobileCard-Header{
	text-align: center;
	padding: 0 2px;
}

.MobileCard-Title{
	cursor: pointer;
	font-family: montserrat, sans-serif;
	font-size: 1.8rem;
	color: rgb(0,200,255);
	padding: 0 2px;
}

.MobileCard-Price:before{
	content: "R";
	padding-right: 4px;
}

.MobileCard-Price{
	font-family: montserrat, sans-serif;
	font-size: 1.8rem;
}

.MobileTextbook-Img{
	position: relative;
	width: 100%;
	height: 100%;
}

#Mobile-Img{
	transition: 0.6s;
	cursor: pointer; 
	width: 100%;
	height: 30rem;
}

#Mobile-Img[alt]{
	font-size: 2.5rem;
}

.MobileCamera-Cont{
	position: absolute;
	cursor: pointer;
	font-size: 1.3rem;
	top: -10px;
	left: 5px;
	color: #fff;
	background-color: rgba(0,0,0,1);
	padding: 4px 8px;
	border-radius: 5px;
	transition: 0.3s;
}

.MobileLocation-Cont{
	/*display: flex;*/
	font-family: Calibri Light;
	color: rgb(64,64,64);
	font-size: 1.2rem;
	text-align: center;
	padding: 0 2.8px;
}

.MobileContact-Cont{
	width: 100%;
}

.MobileContact-Btn{
	width: 100%;
	font-family: montserrat, sans-serif;
	background-color: #0acdff;
    white-space: nowrap;
	font-size: 1.2rem;
	padding: 9px 18px;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	border: none;
	transition: 0.3s;
	font-weight: bold;
}

.MobileContact-Btn:hover{
	color: #fff;
	background-color: #0eee;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}

.RefineSearch-Cont{
	display: none;
	text-align: center;
}

.RefineSearch-Btn{
	width: 100%;
	color: #000;
	text-decoration: none;
	font-family: montserrat, sans-serif;
	background-color: #0acdff;
    white-space: nowrap;
	font-size: 1.2rem;
	padding: 9px 18px;
	cursor: pointer;
	border: none;
	transition: 0.3s;
	font-weight: bold;
}

.RefineSearch-Btn:hover{
	color: #fff;
	background-color: #0eee;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}


/*Individual Mobile Ad Box -- end*/

/*Individual Ad Box -- start*/
.Sellers-item{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	margin: 1rem 2rem;
	height: 11rem;
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	overflow: hidden;
	transition: 0.3s;
}

.Sellers-item:hover{
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.1);
}

.textBook-img{
	position: relative;
	margin: 5px 1.5rem 5px 0.5rem;
}

#img{
	filter: brightness(80%);
	border-radius: 5px;
	transition: 0.6s;
	cursor: pointer;
	width: 280px; 
	height: 100%; 
	max-width: 100%;
}

#img[alt]{
	font-size: 2.5rem;
}

#img:hover,
#img:focus{
	filter: brightness(100%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.Camera-cont{
	position: absolute;
	cursor: pointer;
	font-family: montserrat, sans-serif;
	font-size: 1rem;
	top: -10px;
	left: 5px;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	padding: 2px 6px;
	border-radius: 5px;
	transition: 0.5s;
}

.Camera-cont:hover{
	background-color: #000;
}

.Ad-description{
	display: flex;
	flex-direction: column;
	margin-right: -1rem;
	overflow: hidden;
	width: 100%;
}

.AdDescription-title{
	cursor: pointer;
	margin-top: 8px;
	color: rgb(0,200,255);
	font-family: montserrat, sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	max-width: 35rem;
	text-overflow: ellipsis;
}

.AdDescription-body{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	margin-top: -15px;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.9rem;
	overflow: hidden;
	max-width: 55rem;
	text-overflow: ellipsis;
}

.timeAndLocation-tracker{
	display: flex;
	flex-wrap: wrap;
}

.time, .location{    
	margin-top: -5px;
	font-family: Calibri Light;
	background-color:rgb(228,228,228);  
	border-radius: 15px; 
	text-align: center;
	min-width: 10%;
	padding: 0 5px;
	max-width: 100%;
	white-space: nowrap;
	color: rgb(64,64,64);
}

.location{
	margin-right: 0.5rem;
	font-weight: 900;
	color: #000;
}

.fa-clock, .fa-map-marker-alt, .location > .fa-phone{
	font-size: 1rem;    
	color: rgb(64,64,64);   
	margin-right: 2.8px;
} 

.fa-map-marker-alt, .location > .fa-phone{
	color: #000;
	font-weight: 900;
}

.priceAndContact-cont{
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
	margin-left: 1rem;
}

.price-cont{
	margin: -9px;
}

.price-num{
	font-family: montserrat, sans-serif;
	margin: 1rem;
	font-size: 1.6rem;
	font-weight: 600;
	align-self: flex-end;
}

.price-num:before{
	content: "R";
	padding-right: 4px;
}

.contact-btn{
	font-family: montserrat, sans-serif;
	background-color: #0acdff;
    white-space: nowrap;
	font-size: 1rem;
	padding: 9px 10px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	margin: 3px;
	transition: 0.3s;
	font-weight: bold;
}

.contact-btn:hover{
	background-color: #0eee;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

/*Individual Ad Box -- end*/

/*Modal -- start*/
.formTitle{
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 2.5rem;
}

.formhead{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	position: absolute;
	font-size: 1.5rem;
	font-family: montserrat, sans-serif;
}

.modalCloser-cont{
	position: absolute;
	right: 1rem;
	top: 0;
}

.modal-closer{
	font-size: 3rem;
	font-weight: bold;
	cursor: pointer;
	color: rgb(260,0,0);
	transition: 0.3s;
}

.modal-closer:hover,
.modal-closer:focus{
	color: rgb(220,0,0);
	text-decoration: none;
}

.form{
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 8px;
}

.validifier-cont{
	display: flex;
	justify-content: flex-end;
	transition: 0.8s;
}

.validifier{
	display: none;
	background-color: red;
	font-weight: 600;
	font-family: montserrat, sans-serif;
	padding: 0 8px;
	margin-right: 2.8px;
	border-radius: 3px;
	animation-name: smooth-appearance;
	animation-duration: 0.8s;
	color: #fff;
	transition: 0.8s;
}

@keyframes smooth-appearance{
	0%{background-color: white; opacity:0;}
    100%{background-color: red; opacity:1;}
}

.ikon{
	display: -ms-flexbox;
	display: flex;
	width: 7%;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	color: #fff;
	background-color: #0acdff;
	padding: 12px;
	border-radius: 5px 0 0 5px;
	transition: 0.3s;
	margin-right: -2px;
}

.inputField-cont{
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1.2rem;
	width: 100%;
	transition: 0.8s;
}

.inputField-styling{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
	width: 100%;
	border-radius: 0 5px 5px 0;
	padding: 12px;
	outline: none;
	border: 1px solid #0acdff;
	transition: 0.3s;
}

.inputField-styling:focus{
	box-shadow: 0 0 3px 2px #6acdff;
	clip-path: inset(-8px -8px -8px 0px);
}

.inputField-styling::placeholder{
	font-size: 13px;
}

.redBox{
	border-top: 1px solid red;
	border-right: 1px solid red;
	border-left: 0.4px solid red;
	border-bottom: 1px solid red;
}

.Message-redBox{
	border: 1px solid red;
}

.Message-redBox:focus{
	box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.4);
}

.redBorder{
	border: 1px solid red;
	background-color: red;
}

.red-background{
	background-color: red;
}

.Shadow{
	box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.6);
}

.redBox:focus{
	box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.4);
}

.Icon-boxShadower{
	box-shadow: 0 0 3px 2px #6acdff;
}

.letter{
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.2rem;
}

label{
	margin-bottom: 0.3rem;
}

textarea{
	font-size: 1.1rem;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5rem;
	padding: 1rem;
	height: 10rem;
	resize: vertical;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #0acdff;
	transition: 0.3s;
}

textarea:focus{
	box-shadow: 0 0 3px 2px #6acdff;
}

textarea::placeholder{
	font-size: 1.1rem;
	padding: 0.2rem;
}

::placeholder{
	font-weight: 900;
	color: #aaa;
}

.modal{
	z-index: 50;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: rgba(0,0,0,0.8);
	transition: 0.3s;
	animation-name: fadeIn;
	animation-duration: 1s;
}

.modal-content{
	margin: auto;
	display: -ms-flexbox;
	display:flex;
	border-radius: 5px;
	flex-direction: column;
	width: 80%;
	max-width: 600px;
	background-color: #fff;
	-webkit-animation-name: micro;
	-webkit-animation-duration: 0.8s;
	animation-name: micro;
	animation-duration: 0.8s;
}

.slideUp{
	animation-name: slideUp;
	animation-duration: 1.5s;
}

.fadeOut{
	animation-name: fadeOut;
	animation-duration: 1s;
}

@-webkit-keyframes micro{
	 from {transform: translate(0,-70rem); opacity: 0;}
  to {transform: translate(0, 0);  opacity: 1;}
}

@keyframes micro{
	 0% {transform: translate(0,-70rem); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}

@keyframes slideUp{
	 0% {transform: translate(0,0); opacity: 1;}
  100% {transform: translate(0, -70rem); opacity: 0;}
}

@keyframes fadeOut{
	 0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeIn{
	 0% {opacity: 0;}
  100% {opacity: 1;}
}

input[type=submit]{
	text-align: center;
	font-size: 1.5rem;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 8px;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	background-color: #0acdff;
	font-family: montserrat, sans-serif;
	transition: 0.3s;
}

input[type=submit]:hover{
	background-color: #0eee;
	color: #000;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

.termPol{
	text-align: center;
	line-height: 1.5rem;
	text-decoration: none;
}

.termPol a{
	text-decoration: none;
	color: #0acdff;
	transition: 0.3s;
}

.termPol a:hover{
	color: rgba(0,0,250,1);
	text-decoration: underline;
}

/*Success box message*/
.box-cont{
	display: none;
    justify-content: center;
}

.box{
	display: inline-flex;
    width: 80%;
    max-width: 600px;
    position: relative;
    flex-direction: column;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,1);
    border-radius: 5px;
}

.box-title{
	font-family: montserrat, sans-serif;
	font-size: 2.5rem;
}

.title-close-cont{
	display: flex;
	align-self: center;
}

.box-closer{
	position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.box-closer:hover{
	color: rgba(0, 0, 0, 1);
}

.box-message-cont{
	margin-top: -1rem;
	text-align: center;
	align-self: center;
} 

.box-message-cont i{
	color: #00FF00;
	font-weight: bold;
	font-size: 4rem;
}

/* .box-message-cont i:before{ */
	/* animation-name: glow; */
	/* animation-duration: 1.8s; */
	/* animation-iteration-count: infinite; */
/* } */

/* @keyframes glow{ */
	/* 0%, 100%{text-shadow: 0 0 0 rgb(127, 255, 0);} */
	/* 50%{text-shadow: 0 0 4px rgb(127, 255, 0);} */
	/* 75%{text-shadow: 0 0 6px rgb(127, 255, 0);} */
	/* 95%{text-shadow: 0 0 2px rgb(127, 255, 0);} */
/* } */

.box-message-cont > *:not(:last-child){
	margin-bottom: 0;
}

.box-message-cont h1{
	margin-top: 0;
	font-size: 2.5rem;
	color: #00FF00;
	font-family: montserrat, sans-serif;
}

.box-message-cont p:first-of-type{
	font-size: 1.2rem;
	margin-top: 12px;
	color: rgba(0,0,0,0.9);
}

.box-message-cont p:last-child{
	font-size: 0.9rem;
	margin-bottom: 20px;
}
/*Success box message*/

/*Modal -- end*/

/*Pagination -- start*/
.pageNumberTracker{
	display: flex;
}

.pageNumber-list{
	list-style: none;
	display: flex; 
	margin-left: -7px;
	border-radius: 5px;
}

.pageNumber-list > li{
	display: inline-flex; 
}

.pageNumber-list > li a.active{
	background-color: #0eee;
	color: #fff;
}

.pageNumber-list > li > a{
	padding: 8px;
	font-size: 1.1rem;
	border: 1px solid #0eee;
	width: 3rem;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	background-color: #fff;
}

.pageNumber-list > li > a:hover{
	color: #fff;
	background-color: #0eee;
}

.pageNumber-list > li > a{
	text-decoration: none;
	color: #000;
	transition: 0.3s;
}

.pageNumber-list > li:first-child > a{
	border-radius: 3.5px 0 0 3.5px;
}

.pageNumber-list > li > a{
	border-right: 0px solid #0eee;
}

.pageNumber-list > li:last-child > a{
	border-radius: 0 3.5px 3.5px 0;
	border-right: 1px solid #0eee;
}
/*Pagination -- end*/

/*Message-Box*/

.messageBox-cont{
	display: flex;
	margin: 1rem 2rem;
}

.message-box{
	width: 100%;
	text-align: center;
	flex-direction: column;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	padding: 2rem;
}

.messageTitle-cont > .fa-search{
	margin-top: 0;
	font-size: 3.5rem;
	color: 	#FF0000;
	padding-bottom: 10px;
	cursor: default;
}

.messageTitle-cont > img{
	width: 110px;
}

.messageTitle-cont > .fa-search:before{
	animation-name: glow;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
}

@keyframes glow{
	0%, 100%{text-shadow: 0 0 0 rgb(255,0,0);}
	50%{text-shadow: 0 0 4px rgb(255,0,0);}
	75%{text-shadow: 0 0 5px rgb(255,0,0);}
	85%{text-shadow: 0 0 3px rgb(255,0,0);}
	95%{text-shadow: 0 0 1px rgb(255,0,0);}
}

.messageTitle{
	margin-top: 0;
	font-size: 2rem;
	color: 	#FF0000;
	font-family: montserrat, sans-serif;
}

.no-posts-available{
	color: 	#000;
}

.message{
	font-size: 1.2rem;
	line-height: 1.9rem;
	font-family: "Poppins", sans-serif;
}

.message > a{
	transition: 0.3s;
	color: rgba(0,0,250,1);
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.message > a:hover{
	border-bottom: 1px solid rgba(0,0,250,1);
}
/*Message-Box*/