@media screen and (max-width: 1180px){
	
	.pic > img{
		height: 4rem;
	}

}

@media screen and (max-width: 1150px){
	.form-content{
		width: 45%;
		height: 80%;
	}

}

@media screen and (max-width: 1125px){

	.foot-content{
		margin-right: 0;
	}

}

@media screen and (max-width: 1115px){	
	.sell-info{
		display: none;
	}
	
	.mobileSell-info{
		display: flex;
		width: 60%;
	}
	
	.x{
		display: flex;
		justify-content: center;
	}
	
	.slideCont{
		width: 60%;
		margin: 0 1rem;
		margin-top: 2rem;
	}
	
	.pic > img{
		height: 8rem;
	}
}

@media screen and (max-width: 1070px){
	

}

@media screen and (max-width: 980px){
	
}

@media screen and (max-width: 890px){
	
	.sec{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.ad-head, .ad-amount, .ad-descript p{
		text-align: center;
	}
	
	.ad-amount{
		font-size: 1.4rem;
	}
	
	.slideCont{
		width: 90%;
		margin: 0 1rem;
		margin-top: 2rem;
	}
	
	.sell-info{
		display: flex;
		width: 90%;
		box-shadow: 0 0 5px rgba(0,0,0, 0.4);
		align-self: center;
		margin-right: 0;
	}

	.x, .mobileSell-info{
		display: none;
	}
	
	.form-content{
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0,0,0, 0.4);
		width: 90%;
		margin: 2rem;
	}
	
	.ikon{
		width: 8%;
		padding: 8px;
	}

	.inputField-styling{
		padding: 8px;
	}

	.foot-web{
		display: none;
		flex-direction: row;
	}
	
	.footMobile-web{
		display: flex;
		justify-content: center;
	}
	
	.foot-content{
		margin-right: 2.5rem;
	}
	
	.footMobileWeb-link{
		white-space: nowrap;
	}
	
	.foot-title{
		margin-left: 0;
	}

}

@media screen and (max-width: 790px){

	.foot-title{
		white-space: nowrap;
	}
}

@media screen and (max-width: 686px){
	.mobileLogo{
		display: flex;
		justify-content: center;
		margin-right: 1.1rem;
	}
	
	.regMobile-title{
		font-size: 2.4rem;
		font-family: montserrat, sans-serif;
		text-shadow: 0 0 2px rgba(0,0,0,0.6);
	}
	
	.footMobile-web{
		display: flex;
		margin-right: 2.5rem;
	}
	
	.foot-info > .logo{
		display: none;
	}
	
	.foot-info{
		justify-content: space-around;
	}
	
	.foot-title{
		white-space: nowrap;
	}
}

@media screen and (max-width: 650px){
	

}

@media screen and (max-width: 580px){
	.pic > img{
		height: 6rem;
	}
	
	.ikon{
		width: 10%;
	}
}

@media screen and (max-width: 480px){
	
	
}