@media screen and (max-width: 1180px){
	
	.pic > img{
		height: 4rem;
	}

}

@media screen and (max-width: 1150px){
	.form-content{
		width: 45%;
		height: 80%;
	}

}

@media screen and (max-width: 1115px){	
	.sell-info{
		display: none;
	}
	
	.mobileSell-info{
		display: flex;
		width: 60%;
	}
	
	.mobileSell-info-cont{
		display: flex;
		justify-content: center;
	}
	
	.slideCont{
		width: 60%;
		margin: 0 1rem;
		margin-top: 2rem;
	}
	
	.pic > img{
		height: 8rem;
	}
}

@media screen and (max-width: 890px){
	
	.sec{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.post-head, .ad-amount, .ad-descript p{
		text-align: center;
	}
	
	.ad-amount{
		font-size: 1.4rem;
	}
	
	.slideCont{
		width: 90%;
		margin: 0 1rem;
		margin-top: 2rem;
	}
	
	.sell-info{
		display: flex;
		width: 90%;
		box-shadow: 0 0 5px rgba(0,0,0, 0.4);
		align-self: center;
		margin-right: 0;
	}

	.mobileSell-info-cont, .mobileSell-info{
		display: none;
	}
	
	.form-content{
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0,0,0, 0.4);
		width: 90%;
		margin: 2rem;
	}
	
	.ikon{
		width: 8%;
		padding: 8px;
	}

	.inputField-styling{
		padding: 8px;
	}

}

@media screen and (max-width: 650px){

	.mySlides > img{
		width: 390px;
	}

}

@media screen and (max-width: 580px){

	.pic > img{
		height: 6rem;
	}
	
	.ikon{
		width: 10%;
	}

}