@media screen and (max-width: 890px){
	
	#terms-details{
		margin: 0 2.5rem;
	}

}

@media screen and (max-width: 650px){

	#terms-details{
		margin: 0 2rem;
	}
	
	.terms-title{
		display: none;
	}

	.terms-Mobiletitle{
		display: flex;
	}

}