@media screen and (max-width: 890px){
	
	#priv-details{
		margin: 0 2.5rem;
	}

}

@media screen and (max-width: 650px){
	
	.priv-title{
		font-size: 2.2rem;
	}
	
	#priv-details{
		margin: 0 2rem;
	}

}