*{
	box-sizing: border-box;
}

body{
	background-color: #eee7;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

p{
	font-size: 1.1rem;
	margin-bottom: 2rem;
	line-height: 1.9rem;
}

ol:not(h4){
	font-size: 2rem;
	font-weight: bold;
}

ol p{
	margin-top: -2rem;
	font-weight: 300;
	margin-bottom: 3rem;
}

ol a{
	color: #007cc2;
	text-decoration: none;
	transition: 0.5s;
}

ol a:hover{
	color: rgba(0,0,250,1);
	text-decoration: underline;
}

ul li{
	list-style-type: disc;
}

ul p{
	font-weight: bold;
	margin-bottom: 2rem;
}

h4{
	font-family: montserrat, sans-serif;
	font-size: 2rem;
}

a{
	text-decoration: none;
}

#priv-head{
	margin-top: 6rem;
}

.priv-title{
	display: flex;
	justify-content: center;
	font-family: montserrat, sans-serif;
	font-size: 2.5rem;
	text-shadow: 0 0 2px rgba(0,0,0,0.6);
}

#priv-details{
	margin-top: -2rem;
	margin: 0 5rem;
}

.priv-date h5{
	font-size: 1.5rem;
	color: grey;
}

.priv-date{
	width: 100%;
	margin-bottom: 7rem;
}