@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%20|%20Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%20|%20Hind:300,400,500,600,700');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Poppins",sans-serif;
	background-color: #eee7;`
}

a{
	text-decoration: none;
}

#successBox-cont{
	margin: 11.5rem 0;
}

.successBox-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2rem;
}

.success-box{
	text-align: center;
	width: 550px;
	flex-direction: column;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	padding: 2rem;
}

.fa-check{
	font-size: 4.5rem;
	color: 	#7FFF00;
}

.fa-check:before{
	animation-name: glow;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
}

@keyframes glow{
	0%, 100%{text-shadow: 0 0 0 rgb(127, 255, 0);}
	50%{text-shadow: 0 0 4px rgb(127, 255, 0);}
	75%{text-shadow: 0 0 6px rgb(127, 255, 0);}
	95%{text-shadow: 0 0 2px rgb(127, 255, 0);}
}

.successTitle{
	margin-top: 0;
	font-size: 2rem;
	color: 	#7FFF00;
	font-family: montserrat, sans-serif;
}

.successMessage{
	font-size: 1.4rem;
}

.successBoxRedirect-cont{
	margin-top: 2rem;
}

.successBoxRedirect-cont a{
	text-decoration: none;
}

.successBoxRedirect{
	outline: none;
	border: none;
	border-radius: 5px;
	white-space: nowrap;
	padding: 8px 12px;
	background-color: rgb(91, 172, 222);
	cursor: pointer;
	transition: 0.3s;
	color: #fff;
	font-size: 1rem;
	font-family: "Poppins",sans-serif;
}

.successBoxRedirect:hover{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	background-color: rgb(80, 160, 280);
	color: #000;
}

.flip-up{
	transform: rotate(-180deg);
}

.mobileLogo{
	display: none;
	justify-content: center;
	margin-right: 1.1rem;
}

.footMobileWeb-title{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin-top: 10%;
	cursor: pointer;
}

.footMobile-title{
	font-size: 1.2rem;
	color: #fff;
}

.fa-caret-down{
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	transition: 0.3s;
}

.footMobile-web{
	display: none;
	margin: 1.5rem;
	flex-direction: column;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.footMobile-list{
	list-style: none;
	overflow: hidden;
	max-height: 0;
	transition: 1s;
	opacity: 1;
}

.footMobileWeb-link{
	font-size: 1.2rem;
	color: #fff;
	transition: 0.3s;
	text-decoration: none;
}

.footMobile-list li{
	padding: 5px;
	list-style: none;
}

.foot-link{
	font-size: 1.2rem;
	padding-right: 1rem;
	color: #fff; 
	transition: 0.6s;
	text-decoration: none;
}

.foot-info{
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color: #2f4f4f;
	font-family: montserrat, sans-serif;
}

.foot-title{
	align-self: center;
	font-size: 0.5rem;
	color: #fff;
	margin-left: -2.8rem;
}

.foot-title a{
	color: #0acdff;
	text-decoration: none;
	transition: 0.5s;
}

.foot-title a:hover{
	color: #fff;
}

.foot-content{
	display: flex;
	flex-direction: column;
	margin-right: 4.5rem;
}

.foot-web{
	display: flex;
	flex-direction: row;
}

.foot-link{
	font-size: 1.2rem;
	padding-right: 1rem;
	color: #fff; 
	transition: 0.6s;
	text-decoration: none;
}

.foot-link:hover, .footMobileWeb-link:hover{
	color:#0acdff;
}

.fa-chevron-up{
	padding: 1rem;
	border-radius:100%;
	font-size: 1.5rem;
	margin-right:2rem;
	background:#fff;
	cursor: pointer;
	text-align: center;
	transition: 0.3s; 
}

.fa-chevron-up:hover{
	background-color:#0acdff;
	color: #fff;
}

.bot-name{
	font-family: montserrat, sans-serif;
	transition: 0.35s;
	font-size: 1.5em;
	text-decoration: none;
	color: #fff;
}

.bot-name:hover{
	color:#0acdff;
}