@media screen and (max-width: 1030px){
	.categorieyBox-cont{
		width: 100%;
	}

	.categoriey-box{
		width: 100%;
	}

	.categorieyBox-title{
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: auto;
		overflow: visible;
	}
	
	.browserCategory-title h1{
		text-align: center;
	}
}

@media screen and (max-width: 1020px){
	.homePageTite-cont{
		padding: 0 3rem;
	}
	
	.homePage-Tite h1{
		line-height: 3rem;
	}
	
	.homePage-freeAds h3{
		line-height: 2.5rem;
	}
}

@media screen and (max-width: 850px){	
	.homePage-Tite h1{
		font-size: 2rem;
	}
	
	.homePage-freeAds{
		font-size: 1.3rem;
	}
	
	.homePage-descript p{
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 760px){
	.MobilehomePage-Tite{
		display: flex;
	}
	
	.MobilehomePage-Tite h1{
		font-size: 2rem;
		line-height: 3rem;
	}
	
	.homePage-Tite{
		display: none;
	}
	
	.categorieyBox-title{
		overflow: hidden;
	}
}

@media screen and (max-width: 670px){

	.MobilehomePage-Tite h1{
		font-size: 1.8rem;
	}
	
	.homePage-freeAds{
		font-size: 1.1rem;
	}
	
	.homePage-descript p{
		font-size: 17px;
	}

}