@media screen and (max-width: 1030px){
	
	.categories{
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}
	
	.categorieyBox-cont{
		max-width: 100%;
	}

	.categoriey-box{
		margin: 0 ;
	}
	
	.browserCategory-title {
		margin: 0;
	}
	
	.browserCategory-title h1{
		text-align: center;
	}
}

@media screen and (max-width: 1020px){
	.homePageTite-cont{
		padding: 0 3rem;
	}
	
	.homePage-Tite h1{
		line-height: 3rem;
	}
	
	.homePage-freeAds h3{
		line-height: 2.5rem;
	}
}

@media screen and (max-width: 850px){	
	.homePage-Tite h1{
		font-size: 2rem;
	}
	
	.homePage-freeAds{
		font-size: 1.3rem;
	}
	
	.homePage-descript p{
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 800px){

	.homePageTite-cont{
		background-position: center;
	}

}

@media screen and (max-width: 760px){
	.MobilehomePage-Tite{
		display: flex;
	}
	
	.MobilehomePage-Tite h1{
		font-size: 2rem;
		line-height: 3rem;
	}
	
	.homePage-Tite{
		display: none;
	}
}

@media screen and (max-width: 670px){

	.MobilehomePage-Tite h1{
		font-size: 1.8rem;
	}
	
	.homePage-freeAds{
		font-size: 1.1rem;
	}
	
	.homePage-descript p{
		font-size: 17px;
	}

}

@media screen and (max-width: 480px){
	
	.browserCategory-title h1{
		font-size: 1.5rem;
		line-height: 2rem;
	}
	
	.MobilehomePage-Tite h1{
		font-size: 1.5rem;
	}
	
	.homePageTite-cont{
		padding: 0 1rem;
	}

	.browserCategory-cont{
		margin: 0 1rem;
		margin-bottom: 3.5rem;
	}
	
	.homePage-freeAds{
		font-size: 1rem;
	}
	
	.homePage-descript p{
		font-size: 16px;
	}

}

@media screen and (max-width: 380px){
	
	.MobilehomePage-Tite h1{
		line-height: 2rem;
	}
	
	.homePage-freeAds h3{
		line-height: 1.9rem;
	}
	
	.homePage-descript p {
		line-height: 1.6rem;
	}

}

@media screen and (max-width: 320px){
	
	.MobilehomePage-Tite h1{
		font-size: 1.3rem;
	}
	
	.homePageTite-cont{
		padding: 0 1rem;
	}
	
	.homePage-freeAds h3{
		font-size: 0.9rem;
		font-weight: 300;
	}
	
	.homePage-descript p{
		font-size: 13px;
		font-weight: 300;
	}

}