*{
	box-sizing: border-box;
}

body{
	background-color: #eee7;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

section{
	margin-top: 1rem;
}

a{
	text-decoration: none;
}

.active{
	color:#0acdff;
}

#active{
	color: #0acdff;
}

.menu{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
	font-family: 'Roboto', sans-serif;
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	z-index: 50;
	white-space: nowrap;
}

.logo{
	padding: 1rem;
}

.logo > .fa-bars{
	display: none;
	color: #000;
	padding-right: 2rem;
}

.logo i, .nav i, .mobileLogo i{
	font-size: 1.8rem;
	color: orange;
	transition: 0.2s;
	cursor: pointer;
}

.nav i{
	padding-right: 0.5rem;
}

.log-name{
	font-family: montserrat, sans-serif;
	transition: 0.2s;
	font-size: 2rem;
	font-weight: 600;
	padding: 9px 5px;
}

.log-name, .link, .share a{
	text-decoration: none;
	color: #000;
}

.nav{
	list-style-type: none;
	align-self: center;
}

.nav li{
	display: inline-block;
	cursor: pointer;
	transition: 0.2s;
	font-size: 1.4em;
	padding: 11.5px 15px;
}

.link{
	transition: 0.2s;
}

.link:hover i{
	color:#0acdff;
}

.log-name:hover .fa-book{
	color: #0acdff;
}

.register-logIn{
	align-self: center;
	padding-right: 1rem;
}

.regLogin-link > i, .register-logIn > .regLogin-link:first-child{
	padding-right: 10px;
}

.regLogin-link > i{
	color: orange;
	font-size: 1.5rem;
	transition: 0.2s;
	text-align: center;
}

.regLogin-link{
	font-size: 1.4em;
	transition: 0.2s;
	color: #000;
}

.link:hover, .log-name:hover, .fa-bars:hover, .regLogin-link:hover, .regLogin-link:hover i{
	color: #0acdff;
}

.homePageTite-cont{
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	min-height: 40rem;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Home-Images/img-book-mind-mapping.jpg');
}

.homePageTite-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	padding: 0 1.2rem;
}

.homePage-Tite h1{
	text-align: center;
	font-family: montserrat, sans-serif;
	font-size: 2.3rem;
	text-shadow: 0 0 2px rgba(0,0,0,0.6);
	margin-bottom: 0;
}

.homePage-freeAds{
	text-align: center;
	font-family: montserrat, sans-serif;
	font-size: 1.5rem;
}

.homePage-freeAds h3{
	margin-bottom: 12px;
}

.homePage-freeAds a{
	transition: 0.2s;
	color: #0acdff;
	text-decoration: underline;
}

.homePage-freeAds a:hover{
	color: #007cc2;
	text-decoration: none;
}

.homePage-descript p{
	text-align: center;
	font-family: montserrat, sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.9rem;
}

.browserCategory-cont{
	display: flex;
	flex-direction: column;
	padding: 0 1.5rem;
	margin-bottom: 3.5rem;
}

.browserCategory-title{
	margin: 3px 10px;
}

.browserCategory-title h1{
	font-family: montserrat, sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
}

.categories{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.categorieyBox-cont{
	display: flex;
	margin-bottom: 1.8rem;
}

.categoriey-box{
	flex-direction: column;
	border: 3px solid #ddd;
	background-color: #fff;
	width: 300px;
	margin: 3px 10px;
}

.categorieyBox-header{
	cursor: pointer;
	border-bottom: 3px solid #ddd;
}

.categorieyBox-header span{
	font-weight: 600;
}

.categorieyBox-header h1, .categorieyBox-footer h1{
	font-family: montserrat, sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	padding: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.categorieyBox-footer h1{
	font-weight: 600;
	color: #0acdff;
	cursor: pointer;
	transition: 0.3s;
}

.categorieyBox-list{
	display: flex;
	list-style: none;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

.categorieyBox-list > .categorieyBox-link:last-child{
	border-bottom: 0 solid #ddd;
}

.categorieyBox-link{
	display: flex;
	transition: 0.3s;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.categorieyBox-link:hover{
	background-color: #eee;
}

.categorieyBox-image img{
	width: 60px;
	height: 60px;
	border-radius: 5px;
}

.categorieyBox-image{
	padding: 0 5px;
	padding-top: 4px;
	align-self: center;
}

.categorieyBox-info{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.categorieyBox-info h5{
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 0.9em;
}

.categorieyBox-price{
	font-weight: 300;
}

.categorieyBox-price:before{
	content: 'R ';
}

.categorieyBox-title{
	color: #0acdff;
	cursor: pointer;
	transition: 0.3s;
}

.categorieyBox-title:hover{
	color: #007cc2;
}

.categorieyBox-info h5:last-child{
	margin-bottom: 0;
	color: #777;
	font-weight: 300;
}

.categorieyBox-footer h1:hover{
	color: #007cc2;
}

.categorieyBox-footer{
	border-top: 3px solid #ddd;
}

.allAds-cont{
	align-self: center;
}

.btn{
	font-family: montserrat, sans-serif;
    background-color: #0acdff;
    white-space: nowrap;
    font-size: 1.2rem;
    padding: 12px 22px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 3px;
    transition: 0.3s;
    font-weight: bold;
	outline: none;
}

.btn:hover{
	color: #fff;
	background-color: #0eee;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.flip-up{
	transform: rotate(-180deg);
}

.mobileLogo{
	display: none;
	justify-content: center;
	margin-right: 1.1rem;
}

.footMobileWeb-title{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin-top: 10%;
	cursor: pointer;
}

.footMobile-title{
	font-size: 1.2rem;
	color: #fff;
}

.arrowDown{
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	transition: 0.3s;
}

.footMobile-web{
	display: none;
	margin: 1.5rem;
	flex-direction: column;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.footMobile-list{
	list-style: none;
	overflow: hidden;
	max-height: 0;
	transition: 1s;
	opacity: 1;
}

.footMobileWeb-link{
	font-size: 1.2rem;
	color: #fff;
	transition: 0.3s;
	text-decoration: none;
}

.footMobile-list li{
	padding: 5px;
	list-style: none;
}

.foot-link{
	font-size: 1.2rem;
	padding-right: 1rem;
	color: #fff; 
	transition: 0.6s;
	text-decoration: none;
}

.foot-info{
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color: #2f4f4f;
	font-family: montserrat, sans-serif;
}

.foot-title{
	align-self: center;
	font-size: 0.5rem;
	color: #fff;
	margin-left: -2.8rem;
}

.foot-title a{
	color: #0acdff;
	text-decoration: none;
	transition: 0.5s;
}

.foot-title a:hover{
	color: #fff;
}

.foot-content{
	display: flex;
	flex-direction: column;
	margin-right: 4.5rem;
}

.foot-web{
	display: flex;
	flex-direction: row;
}

.foot-link{
	font-size: 1.2rem;
	padding-right: 1rem;
	color: #fff; 
	transition: 0.6s;
	text-decoration: none;
}

.foot-link:hover, .footMobileWeb-link:hover{
	color:#0acdff;
}

.fa-chevron-up{
	padding: 1rem;
	border-radius:100%;
	font-size: 1.5rem;
	margin-right:2rem;
	background:#fff;
	cursor: pointer;
	text-align: center;
	transition: 0.3s; 
}

.fa-chevron-up:hover{
	background-color:#0acdff;
	color: #fff;
}

.bot-name{
	font-family: montserrat, sans-serif;
	transition: 0.35s;
	font-size: 1.5em;
	text-decoration: none;
	color: #fff;
}

.bot-name:hover{
	color:#0acdff;
}