section{
	margin-bottom: 2rem;
}

#about-header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .6s;
	height: 100vh;
	min-height: 40rem;
	background-attachment: fixed;
	/* background-position: bottom right; */
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/About-Us-Images/uj2.jpg'); 
}

.aboutHeader-title{
	text-align: center;
	text-shadow: 0px 0px 8px #000;
	font-size: 2.8rem;
	color: #fff;
	font-family: montserrat, sans-serif;
	padding: 0 1rem;
}

.aboutHeaderMobile-title{
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 0px 0px 8px #000;
	font-size: 2.5rem;
	color: #fff;
	font-family: montserrat, sans-serif;
	padding: 0 1rem;
}

.about-intro-cont-cont{
	width: 100%;
	padding: 0 5rem;
}

.about-intro-cont{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 4rem 0;
}

.about-info-cont-cont, .about-img-cont-cont-1{
	display: flex;
	flex: 1;
	/* background-color: red; */
}

.about-info-cont-cont{
	padding: 0;
	margin-right: 1.5rem;
}

.about-img-cont-cont-1{
	padding-top: 1.5rem;
	margin-left: 1.5rem;
}

.about-info-cont, .about-info-title-cont{
	display: flex;
	flex-direction: column;
}

.about-info-title-cont h2 span{
	font-size: 2.5rem;
}

.about-info-title-cont h2, .about-info-title-cont h4{
	font-family: montserrat, sans-serif;
	line-height: 3.9rem;
}

.about-info-title-cont h4{
	font-size: 1.1rem;
	margin-bottom: -0.5rem;
}

.kopa{
	color: #0acdff;
}

.booka{
	color: orange;
}

.about-info-descript-cont p{
	line-height: 1.9rem;
}

.about-img-cont-cont-1{
	width: 100%;
}

.about-img-cont-2{
	display: flex;
	width: 100%;
	max-width: 100%;
	background-color: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.about-img-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	user-select: none;
}

.about-img{
	user-select: none;
	vertical-align: middle;
	max-width: 100%;
}