*{
	box-sizing: border-box;
}

body{
	background-color: #eee7;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
}

.flip-over{
	transform: rotateX(180deg);
	perspective: 600px;
}

section{
	margin-bottom: 2rem;
}

#about-header{
	height: 100vh;
	min-height: 40rem;
	background-attachment: fixed;
	/* background-position: bottom right; */
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../About-Us-Images/uj2.jpg'); 
}

#about-header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .6s;
}

.aboutHeader-title{
	text-align: center;
	text-shadow: 0px 0px 8px #000;
	font-size: 2.8rem;
	color: #fff;
	font-family: montserrat, sans-serif;
	z-index: 0;
}

.aboutHeaderMobile-title{
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 0px 0px 8px #000;
	font-size: 2.5rem;
	color: #fff;
	font-family: montserrat, sans-serif;
	z-index: 0;
}

.goal-header{
	display: flex;
	justify-content: center;
	font-size: 2.2rem;
	color: grey;
	text-shadow: 0px 0px 2px #000;
	font-family: montserrat, sans-serif;
}

.goal-description{
	display: flex;
	justify-content: center;
}

.goal-description p{
	font-size: 1.2rem;
	line-height: 2rem;
	width: 74%;
	text-align: center;
}

.MJ{
	color: #007cc2;
	text-decoration: none;
	transition: 0.3s;
}

.MJ:hover{
	color: rgba(0,0,250,1);
	text-decoration: underline;
}

.followUs-header{
	display: flex;
	justify-content: center;
	font-size: 2.2rem;
	color: grey;
	text-shadow: 0px 0px 2px #000;
	font-family: montserrat, sans-serif;
}

.followUsMobile-header{
	display: none;
	justify-content: center;
	text-align: center;
	font-size: 2.2rem;
	color: grey;
	text-shadow: 0px 0px 2px #000;
	font-family: montserrat, sans-serif;
}

.socials{
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons{
	margin: 2rem;
	font-size: 4rem;
	color: #fff;
	transition: color 650ms;
	text-shadow: 0 0 4px #000;
}

.fa-facebook-square:hover{
	color: #4267b2
}

.fa-twitter-square:hover{
	color: #38a1f3;
}

.fa-instagram:hover{
  color: #e3e3;
}