@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%20|%20Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%20|%20Hind:300,400,500,600,700');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eee7;
}

a{
	text-decoration: none;
}

#postForm{
	margin-top: 5.5rem;
}

.postForm-cont{
	display: flex;
	justify-content: center;
	align-items: center;
}

.postForm-title{
	font-size: 3.8rem;
	font-family: montserrat, sans-serif;
	text-shadow: 0 0 3px rgba(0,0,0,0.6);
	text-align: center;
}

#postAd-form{
	margin-bottom: 8rem;
}

.postAdForm-cont{
	display: flex;
	justify-content: center;
	align-items: center;
}

.postAdForm-card{
	display: flex;
	width: 75%;
	flex-direction: column;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.6), 2px 2px 10px -3px rgba(0, 0, 0, 0.6);
	padding: 1.5rem;
}

.postAdForm-header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
}

.postAdForm-title{
	font-size: 1.6rem;
	font-family: montserrat, sans-serif;
}

.form{
	display: flex;
	flex-direction: column;
}

.label{
	padding-left: 8px;
}

.inputlabel-cont{
	display: flex;
	flex-direction: column;
}

.required{
	color: red;
}

.input{
	margin-bottom: 2rem;
}


.label-cont{
	display: flex;
	justify-content: space-between;	
}

.validifier{
	display: none;
	background-color: red;
	font-weight: 600;
	font-family: montserrat, sans-serif;
	padding: 0 8px;
	margin-right: 14px;
	border-radius: 3px;
	animation-name: smooth-appearance;
	animation-duration: 0.3s;
	color: #fff;
	white-space: nowrap;
}

@keyframes smooth-appearance{
	0%{background-color: white; opacity:0;}
    100%{background-color: red; opacity:1;}
}

.inputField-styling, select{
	background-color: transparent;
	border: none;
	padding: 8px;
	width: 95%;
	border-radius: 3px;
	outline: none;
	border: 1px solid #0acdff;
	transition: 0.3s;
	font-weight: 600;
	font-size: 1rem;
	margin: 5px;
}

select{
	width: 97%;
	padding: 7px;
}

.inputField-styling:focus, textarea:focus{
	background-color: #fff;
	box-shadow: 0 0 3px 1.5px #6acdff;
}

select:focus{
	border-radius: 5px 5px 0 0;
	background-color: #fff;
	box-shadow: 0 0 3px 1.5px #6acdff;
}

.red{
	font-weight: 600;
	color: red;
	text-shadow: 0 0 1.5px red;
}

.redBox{
	border: 1px solid red;
}

.redBox:focus{
	box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.3);
}

.Message-redBox{
	border: 1px solid red;
}

.Message-redBox:focus{
	box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.3);
}

.selectWidth{
	width: 95%;	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder{
	padding: 5px;
	font-size: 1rem;
	color: #bbb;
}

.check{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	margin-top: 1.2rem;
}

.whatsapp-cont{
	display: flex;
}

.whatsapp-logo{
	margin-left: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.memberMe{
	font-size: 1rem;
	font-weight: bold;
	margin-left: 5px; 
}

.remember{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	-webkit-appearance: none;
	padding: 13px 14px;
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid #A9A9A9;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.remember:checked {
	border: 2px solid #0CFC00;
	background-color: #0CFC00;
}

.remember:checked:after {
	content: "";
	top: 3px;
	left: 9.9px;
	border-color: #fff;
	border-style: solid;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	width: 5.5px;
	height: 14px;
	font-size: 1.2rem;
	position: absolute;
	color: #fff;
	font-weight: bold;
}

.advertDetails{
	display: flex;
	flex-direction: column;
}

.advertDetail-header{
	display: flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 1.5rem;
}

.advertDetail-title{
	font-size: 1.6rem;
	font-family: montserrat, sans-serif;
}

.category, .adverterName, .textbook-details, .textbook-price{
	display: flex;
	
}

textarea{
	width: 98.5%;
	padding: 8px;
	margin: 5px;
	background-color: transparent;
	border: none;
	outline: none;
	border: 1px solid #0acdff;
	transition: 0.3s;
	font-weight: 600;
	font-size: 1rem;
	resize: vertical;
	border-radius: 3px;
}

.adverterName > .inputlabel-cont{
	width: 40%;
}

.whatsapp-cont > .inputlabel-cont{
	width: 33.1%;
}

.textbook-details > .inputlabel-cont{
	width: 40%;
}

.campus{
	display: flex;
	justify-content: center;
}

.campus > .inputlabel-cont{
	width: 30%;
}

.textbook-price > .inputlabel-cont{
	width: 50%;
}

.main-cat{
	width: 50%;
}

.sub-cat{
	width: 50%;
}

#upload-cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

#btnDiv{
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 6px;
}

.btn{
	font-family: montserrat, sans-serif;
	border: none;
	font-size: 1.2rem;
	width: 16em;
	text-align: center;
	padding: 8px 6px;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	background-color: #0eee;
	transition: 0.5s;
}

.btn:hover{
	color: #000;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

#upl{
	position: absolute;
	visibility: hidden;
}

.uploadrules-cont{
	align-self: flex-start;
	margin-bottom: -0.8rem;
}

.upload-rules{
	font-size: 1rem;
}

.file-names{
	display: flex;
	align-items: center;
    justify-content: space-between;
	white-space: nowrap;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	padding: 12px;
	margin-top: 1rem;
	border: 2px solid #0eee; 
	border-style: dashed;
}

.box-title{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1rem; 
	margin: auto;
	padding: 2.5rem;
	text-align: center;
}

.UploadDrop-title{
	font-family: montserrat, sans-serif;
	margin-top: 0;
}

.fa-upload{
	align-self: center;
	font-size: 3rem;
	color: grey;
}

#load-img{
	display: flex;
	margin-top: 1rem;
	flex-direction: column;
	position: relative;
}

.shut{
	position: absolute;
	align-self: flex-start;
	top: 1rem;
	right: 10px;
	font-size: 2rem;
	color: rgba(300,0,0,1);
	transition: 0.3s;
	cursor: pointer;
	z-index: 1;
}

.checkBox-cont{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #e0e0e0;
	width: 9.4rem;
	border-radius: 0 0 5px 5px;
	position: absolute;
	right: 4px;
	bottom: 8px;
	transition: 0.3s;
}

.mainImg-text{
	font-family: montserrat, sans-serif; 
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
	color: #fff;
	align-self: center;
	font-weight: bold; 
	position: absolute; 
	right: 2.6rem; 
}

.main-img{
	position: relative;
	-webkit-appearance: none;
	padding: 14px 14px;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #0acdff;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.main-img:checked {
	border: 2px solid #0CFC00;
	background-color: #0CFC00;
}

.main-img:checked:after {
	content: "";
	border-color: #fff;
	border-style: solid;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	width: 5.5px;
	height: 14px;
	font-size: 1.8rem;
	position: absolute;
	color: #fff;
	font-weight: bold;
    top: 3px;
	left: 9.9px;
}

.visual{
	margin: 12px 4px;
	max-width: 150px;
	max-height: 150px;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
	user-select: none;
}

.upload-rules{
	align-self: flex-start;
	font-size: 1rem;
}

.sub-cont{
	display: flex;
	justify-content: center;
}

input[type=submit]{
	text-align: center;
	padding: 18px;
	font-size: 1.5rem;
	background-color: #0acdff;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
	font-family: montserrat, sans-serif;
}

input[type=submit]:hover{
	background-color: #0eee;
	color: #000;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

/*Message-Box*/

.messageBox-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	margin-bottom: 11.8rem;
}

.message-box{
	margin-top: 8.7rem;
	text-align: center;
	width: 650px;
	flex-direction: column;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	padding: 2rem;
}

.fa-times{
	font-size: 4.5rem;
	color: 	#FF0000;
}

.fa-times:before{
	animation-name: glow;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
}

.fa-check{
	font-size: 4.5rem;
	color: 	#FF0000;
}

.fa-check:before{
	animation-name: glow-green;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
}

@keyframes glow-green{
	0%, 100%{text-shadow: 0 0 0 rgb(127, 255, 0);}
	50%{text-shadow: 0 0 4px rgb(127, 255, 0);}
	75%{text-shadow: 0 0 6px rgb(127, 255, 0);}
	95%{text-shadow: 0 0 2px rgb(127, 255, 0);}
}

@keyframes glow{
	0%, 100%{text-shadow: 0 0 0 rgb(255,0,0);}
	50%{text-shadow: 0 0 4px rgb(255,0,0);}
	75%{text-shadow: 0 0 5px rgb(255,0,0);}
	85%{text-shadow: 0 0 3px rgb(255,0,0);}
	95%{text-shadow: 0 0 1px rgb(255,0,0);}
}

.messageTitle{
	margin-top: 14px;
	font-size: 2rem;
	color: 	#FF0000;
	font-family: montserrat, sans-serif;
}

#down{
	display: none;
}

.message{
	font-size: 1.2rem;
	line-height: 1.9rem;
	font-family: "Poppins", sans-serif;
}

.messageBoxRedirect-cont{
	margin-top: 2rem;
}

.messageBoxRedirect-cont a{
	text-decoration: none;
}

.messageRedirect{
	outline: none;
	border: none;
	border-radius: 5px;
	white-space: nowrap;
	padding: 8px 12px;
	background-color: rgb(91, 172, 222);
	cursor: pointer;
	transition: 0.3s;
	color: #fff;
	font-size: 1rem;
	font-family: "Poppins",sans-serif;
}

.messageRedirect:hover{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	background-color: rgb(80, 160, 280);
	color: #000;
}

/*Message-Box*/