@media screen and (max-width: 780px) {
	#forget-password-cont{
		margin: 10rem 2rem;
	}
}

@media screen and (max-width: 680px) {
	#forget-password-cont{
		margin: 10rem 1rem;
	}
}

@media screen and (max-width: 630px) {
	.inputField-cont{
		padding: 4px 10px;
	}
	
	.body-info{
		padding: 4px 15px;
	}
}