*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eee7;
}

a{
	text-decoration: none;
}

#forget-password-cont{
	margin: 10rem 4rem;
}

.forget-password-cont{
	display: flex;
	align-items: center;
	justify-content: center;
}

.forget-password-card{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 600px;
	max-width: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: #fff;
}

.card-header{
	display: flex;
	justify-content: center;
	width: 600px;
	max-width: 100%;
	padding: 4px 8px;
	background-color: #0acdff;
	border-radius: 5px 5px 0 0;
}

.card-header h1{
	font-family: montserrat, sans-serif;
	color: #fff;
	font-size: 1.8rem;
}

.card-body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.body-info{
	margin-top: 1rem;
	padding: 4px 8px;
}

.body-info p{
	font-weight: 520;
	text-align: center;
	line-height: 1.9rem;
}

.inputField-cont{
	padding: 4px 25px;
	width: 100%;
}

.label-cont{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.label{
	padding-left: 3px;
}

.error-alerter{
	display: none;
	background-color: red;
	color: #fff;
	font-size: 14px;
	padding: 2px 4px;
	margin-right: 4px;
	border-radius: 3px; 
	font-weight: 600;
	font-family: montserrat, sans-serif;
	animation-name: smooth-in;
	animation-duration: 0.3s;
}

.required{
	color: red;
}

.inputField-styling{
	width: 100%;
	padding: 8px;
	outline: none;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 14px;
	font-weight: 600;
	transition: 0.3s;
}

@keyframes smooth-in{
	from{ background-color:#fff; opacity: 0; }
	to{ background-color: red; opacity: 1; }
}

.redBox{
	border: 1px solid red;
}

.inputField-styling:focus{
	border: 1px solid #0acdff;
	box-shadow: 0 0 2px #0acdff;
}

.redBox:focus{
	border: 1px solid red;
	box-shadow: 0 0 5px red;
}

::placeholder{
	font-weight: 600;
	color: #aaa;
}

.card-btn{
	align-self: flex-start;
	margin-left: 1.6rem;
	margin-top: 10px;
	margin-bottom: 1.5rem;
}

.btn{
	outline: none;
	border: none;
	color: #fff;
	background-color: #0acdff;
	padding: 8px 14px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
	font-family: montserrat, sans-serif;
	cursor: pointer;
	transition: 0.3s;
}

.sign-in{
	background-color: #bbb;
}

.btn:hover{
	box-shadow: 0 0 5px #0acdff;
}

.sign-in:hover{
	box-shadow: 0 0 5px #bbb;
}